<aside>
  <div class="menu-btn abs">
    <div class="menu-btn_burgir-before"></div>
    <div class="menu-btn_burgir"></div>
    <div class="menu-btn_burgir-after"></div>
  </div>
  <div id="sticky-div">
    <div id="name-wrapper">
      <i class="icon"></i>
      <h3></h3>
      <i class="fas fa-chevron-circle-down"></i>
    </div>
    <div id="links">
      <a href="/login">Log in</a>
      <a href="/register">Register</a>
      <a href="/account">Account</a>
      <a href="/create/lesson">Create Lesson</a>
      <a href="/create/exercise">Create Exercise </a>
      <a href="/drafts">See Drafts </a>
      <a href="#" id="logout">Log out</a>
    </div>
  </div>
</aside>
