<section id="comment">
  <div id="check_email">
    <p>Please check our inbox at support@mathcamp.com for new help requests.</p>
  </div>
  <div id="not_found">
    <p>Sorry, we weren't able to locate that comment.</p>
  </div>
  <div id="found"></div>
</section>
