<section id="help">
  <div id="no-access">
    <p>Please sign in or create an account to access this feature.</p>
    <div class="links">
      <a href="/login">Log in</a>
      <a href="/register">Register</a>
    </div>
  </div>
  <div id="access">
    <section id="comment"></section>
    <button id="new-msg-btn" aria-label="New comment" title="New comment">
      <i class="fas fa-plus"></i>
    </button>
    <div id="new-msg">
      <label for="question">Question or comment</label>
      <textarea
        id="question"
        type="text"
        placeholder="Ask your question"
      ></textarea>
      <label for="details">Details</label>
      <textarea id="details" placeholder="Add additional details"></textarea>
      <button id="submit-q">Submit</button>
    </div>
  </div>
</section>
