<section class="title">
  <h3></h3>
  <p></p>
</section>
<section id="practice-zone">
  <div id="select-difficulty">
    <button id="ez" class="difficulty selected">Easy</button>
    <button id="stan" class="difficulty">Standard</button>
    <button id="hard" class="difficulty">Hard</button>
    <button id="adv" class="difficulty">Advanced</button>
  </div>
  <div id="ez-problem" class="problem">
    <p class="question"></p>
    <ol class="choices">
      <li>
        <button>A</button>
        <div></div>
      </li>
      <li>
        <button>B</button>
        <div></div>
      </li>
      <li>
        <button>C</button>
        <div></div>
      </li>
      <li>
        <button>D</button>
        <div></div>
      </li>
    </ol>
    <button id="ez-submit">Submit</button>
    <div class="feedback">
      <p></p>
    </div>
  </div>
  <div id="stan-problem" class="problem hide">
    <p class="question"></p>
    <ol class="choices">
      <li>
        <button>A</button>
        <div></div>
      </li>
      <li>
        <button>B</button>
        <div></div>
      </li>
      <li>
        <button>C</button>
        <div></div>
      </li>
      <li>
        <button>D</button>
        <div></div>
      </li>
    </ol>
    <button id="stan-submit">Submit</button>
    <div class="feedback">
      <p></p>
    </div>
  </div>
  <div id="hard-problem" class="problem hide">
    <p class="question"></p>
    <ol class="choices">
      <li>
        <button>A</button>
        <div></div>
      </li>
      <li>
        <button>B</button>
        <div></div>
      </li>
      <li>
        <button>C</button>
        <div></div>
      </li>
      <li>
        <button>D</button>
        <div></div>
      </li>
    </ol>
    <button id="hard-submit">Submit</button>
    <div class="feedback">
      <p></p>
    </div>
  </div>
  <div id="adv-problem" class="problem hide">
    <p class="question"></p>
    <ol class="choices">
      <li>
        <button>A</button>
        <div></div>
      </li>
      <li>
        <button>B</button>
        <div></div>
      </li>
      <li>
        <button>C</button>
        <div></div>
      </li>
      <li>
        <button>D</button>
        <div></div>
      </li>
    </ol>
    <button id="adv-submit">Submit</button>
    <div class="feedback">
      <p></p>
    </div>
  </div>
</section>
