<div class="results">
  <div id="search">
    <input type="text" placeholder="Search" />
    <button><i class="fas fa-search"></i></button>
  </div>
  <h3 class="results-header"></h3>
  <ol class="results-body"></ol>
</div>
