<div class="grid">
  <div id="filters">
    <button class="gr" value="seven">7</button>
    <button class="gr" value="eight">8</button>
    <button class="gr" value="alg">A</button>
    <button class="gr" value="geo">G</button>
    <button class="gr" value="p_s">PS</button>
    <button class="gr" value="alg2">A2</button>
    <button class="gr" value="pc">PC</button>
    <button class="gr" value="calc">C</button>
    <button class="gr" value="calc2">C2</button>
  </div>
  <div id="chptr_select">
    <div class="select-selected">All Chapters</div>
    <div class="select-items hide">
      <div data-value="all">All Chapters</div>
    </div>
    <div
      style="
        position: absolute;
        top: calc(100% + 10px);
        display: grid;
        place-content: center;
        height: 100px;
        width: 100%;
        background-color: teal;
        color: white;
      "
    >
      All the activities go here
    </div>
  </div>
</div>
