<aside>
  <div class="menu-btn abs">
    <div class="menu-btn_burgir-before"></div>
    <div class="menu-btn_burgir"></div>
    <div class="menu-btn_burgir-after"></div>
  </div>
  <div class="sticky-div">
    <div class="name-wrapper">
      <img src="/images/user_icon.png" alt="user avatar" />
      <h3></h3>
      <i class="fas fa-chevron-circle-down"></i>
    </div>
    <div class="links">
      <a href="/login">Log in</a>
      <a href="/register">Register</a>
      <a href="/account" class="hide">Account</a>
      <a href="/create/lesson" class="hide">Create Lesson</a>
      <a href="/create/exercise" class="hide">Create Exercise </a>
      <a href="/drafts" class="hide">See Drafts </a>
      <a href="#" id="logout" class="hide">Log out</a>
    </div>
  </div>
</aside>
