<aside>
  <div class="menu-btn abs"><div class="menu-btn_burgir"></div></div>
  <div class="sticky-div">
    <div class="name-wrapper">
      <img src="/images/user_icon.png" alt="user avatar" />
      <h3></h3>
      <i class="fas fa-chevron-circle-down"></i>
    </div>
    <ul>
      <li id="login"><a href="/login">Log in</a></li>
      <li id="register"><a href="/register">Register</a></li>
      <li class="hide" id="account"><a href="/account">Account</a></li>
      <li class="hide" id="createlesson">
        <a href="/create/lesson">Create Lesson</a>
      </li>
      <li class="hide" id="createexercise">
        <a href="/create/exercise">Create Exercise</a>
      </li>
      <li class="hide" id="drafts">
        <a href="/drafts">See Drafts</a>
      </li>
      <li class="hide" id="logout">Log out</li>
    </ul>
  </div>
</aside>
