<% if(title === "Account") { %>
<header class="secondary z">
  <h1><%=bannerTitle%></h1>
  <canvas class="background"></canvas>
</header>
<%} else {%>
<header class="secondary">
  <h1><%=bannerTitle%></h1>
</header>
<% } %>
