<div class="textarea-wrapper">
  <label for="create_correct_answer pop-top">Correct Answer: </label>
  <div class="extra-options">
    <p class="hide">This choice is not unique</p>
    <span
      id="answer_add"
      role="button"
      aria-label="Add answer to question"
      title="Add answer to question"
      ><i class="fas fa-plus-circle"></i
    ></span>
    <span id="answer_discard" role="button" aria-label="Discard" title="Discard"
      ><i class="fas fa-trash"></i
    ></span>
  </div>
  <textarea id="create_correct_answer"></textarea>
</div>
<ul class="correct_answer hide"></ul>
