<div class="textarea-wrapper">
  <label for="create_correct_answer">Correct Answer: </label>
  <div class="extra-options">
    <span
      id="answer_add"
      role="button"
      aria-label="Add answer to question"
      title="Add answer to question"
      ><i class="fas fa-plus-circle"></i
    ></span>
    <span id="answer_delete" role="button" aria-label="Discard" title="Discard"
      ><i class="fas fa-trash"></i
    ></span>
  </div>
  <textarea id="create_correct_answer"></textarea>
</div>
<section class="correct_answer">
  <li>
    <p>Add</p>
    <span role="button" aria-label="See answer" title="See answer"
      ><i class="fas fa-eye"></i
    ></span>
    <span role="button" aria-label="Edit answer" title="Edit answer"
      ><i class="fas fa-edit"></i
    ></span>
    <span role="button" aria-label="Delete answer" title="Delete answer"
      ><i class="fas fa-trash"></i
    ></span>
  </li>
</section>
