<div class="textarea-wrapper">
  <label for="create_choices">Choices: </label>
  <div class="extra-options">
    <p class="hide">This choice is not unique</p>
    <button
      id="choice_add"
      aria-label="Add choice to question"
      title="Add choice to question"
    >
      <i class="fas fa-plus-circle"></i>
    </button>
    <button id="choice_discard" aria-label="Discard" title="Discard">
      <i class="fas fa-trash"></i>
    </button>
  </div>
  <textarea id="create_choices"></textarea>
</div>
