<div class="textarea-wrapper">
  <div class="label-wrapper">
    <label for="create_choices">Choices</label>
    <p class="not_met hide">This choice is not unique.</p>
  </div>
  <div class="extra-options">
    <button
      id="choice_add"
      aria-label="Add choice to question"
      title="Add choice to question"
    >
      <i class="fas fa-plus-circle"></i>
    </button>
    <button id="choice_discard" aria-label="Discard" title="Discard">
      <i class="fas fa-trash"></i>
    </button>
  </div>
  <textarea id="create_choices"></textarea>
  <ul class="question_choices pop-top hide"></ul>
</div>
