<div class="textarea-wrapper">
  <label for="create_choices">Choices: </label>
  <div class="extra-options">
    <p class="hide">This choice is not unique</p>
    <span
      id="choice_add"
      role="button"
      aria-label="Add choice to question"
      title="Add choice to question"
      ><i class="fas fa-plus-circle"></i
    ></span>
    <span id="choice_discard" role="button" aria-label="Discard" title="Discard"
      ><i class="fas fa-trash"></i
    ></span>
  </div>
  <textarea id="create_choices"></textarea>
</div>
