<%- include('../partials/loading'); %>

<div class="scroll-wrap">
  <div class="scroll">
    <button class="gr" value="seven">Grade 7</button>
    <button class="gr" value="eight">Grade 8</button>
    <button class="gr" value="alg">Algebra</button>
    <button class="gr" value="geo">Geometry</button>
    <button class="gr" value="p_s">Prob & Stats</button>
    <button class="gr" value="alg2">Algebra 2</button>
    <button class="gr" value="pc">Precalculus</button>
    <button class="gr" value="calc">Calculus</button>
    <button class="gr" value="calc2">Calculus 2</button>
  </div>
</div>

<section class="grid" id="resources">
  <div id="first" class="col invis">
    <div class="chapter">
      <div class="chapter_number">1</div>
      <div class="chapter_info">
        <div class="chapter_title">Title</div>
        <ul class="chapter_links">
          <li>Link 1</li>
          <li>Link Numbah 2</li>
          <li>Some Nmbr After 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="second" class="col hide"></div>
  <div id="third" class="col hide"></div>
</section>
