<header class="primary">
  <div class="primary___header">
    <h1>Math Camp</h1>
    <div class="msg home">We only do math here.</div>
    <button
      id="scroll"
      aria-label="Jump to the next section"
      title="Jump to the next section"
    >
      <div class="left"></div>
      <div class="right"></div>
    </button>
  </div>
  <canvas class="background"></canvas>
</header>

<div id="home">
  <h2>Welcome to Math Camp</h2>
  <div id="donthave">
    <h4>If you're here for any of these things, we don't have it.</h4>
    <!-- <p>If it isn't already clear, we only do math here.</p> -->
    <!-- <p>Yo yo</p> -->
    <ul>
      <li>This thing</li>
      <li>That thing</li>
      <li>Another thing</li>
    </ul>

    <div id="click_here">
      <p>Click here to generate a new list of things we don't have.</p>
      <button id="refresh">
        <i class="fas fa-redo"></i>
      </button>
    </div>
  </div>
</div>
