<header class="primary">
  <div class="primary___header">
    <h1>Math Camp</h1>
    <div class="msg home">Just math.</div>
    <!-- <div id="login-signup">
      <button id="login">Login</button>
      <button id="signup">Sign Up</button>
    </div> -->
    <button
      id="scroll"
      class=""
      aria-label="Jump to the next section"
      title="Jump to the next section"
    >
      <div class="left"></div>
      <div class="right"></div>
    </button>
  </div>
  <canvas class="background"></canvas>
</header>

<section id="info">
  <div class="panel">
    <div class="img_wrap">
      <img src="/images/undraw_mathematics_-4-otb.svg" alt="" />
    </div>
    <h3>Learn Anywhere.</h3>
    <p>
      Learn what you want, when you want, where you want. Our lessons are
      designed to keep students engaged and motivated to continue learning.
    </p>
  </div>
  <div class="panel">
    <div class="img_wrap">
      <img src="/images/undraw_researching_-22-gp.svg" alt="" />
    </div>
    <h3>Practice Anywhere.</h3>
    <p>
      "Practice makes perfect" isn't just some cliche phrase; it's the truth.
      With our adaptive learning exercises, you'll get tons of practice working
      through problems of all difficulties.
    </p>
  </div>
  <div class="panel">
    <div class="img_wrap">
      <img src="/images/undraw_online_learning_re_qw08.svg" alt="" />
    </div>
    <h3>Help Anywhere.</h3>
    <p>
      Math can be tough but we've got your back. Whenever you're feeling stuck,
      send us a message over on the Help page and we'll assist you however we
      can. Your success is our priority.
    </p>
  </div>
</section>
<section class="hide">
  <div class="card">
    <div class="card_header">
      <h3>- Learn -</h3>
      <div class="img_wrap">
        <img src="/images/undraw_mathematics_-4-otb.svg" alt="" />
      </div>
    </div>
    <p>
      Learn what you want, when you want, where you want. Our lessons are
      designed to keep students engaged and motivated to continue learning.
    </p>
  </div>
  <div class="card">
    <div class="card_header">
      <h3>- Practice -</h3>
      <div class="img_wrap">
        <img src="/images/undraw_researching_-22-gp.svg" alt="" />
      </div>
    </div>
    <p>
      "Practice makes perfect" isn't just some cliche phrase; it's the truth.
      With our adaptive learning exercises, you'll get tons of practice working
      through problems of all difficulties.
    </p>
  </div>
  <div class="card">
    <div class="card_header">
      <h3>- Get Help -</h3>
      <div class="img_wrap">
        <img src="/images/undraw_online_learning_re_qw08.svg" alt="" />
      </div>
    </div>
    <p>
      This subject can be tough but we've got your back. Whenever you're feeling
      stuck, send us a message over on the Help page and we'll assist you
      however we can. Your success is our priority.
    </p>
  </div>
</section>
