<div class="msg">View and edit your account information.</div>
<section class="grid">
  <div class="infowrap">
    <label for="fname">First Name</label>
    <div class="flexwrap">
      <input
        id="fname"
        class="hide"
        type="name"
        placeholder="Enter first name"
      />
      <p></p>
      <button aria-label="Edit" title="Edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="infowrap">
    <label for="lname">Last Name</label>
    <div class="flexwrap">
      <input
        id="lname"
        class="hide"
        type="name"
        placeholder="Enter last name"
      />
      <p></p>
      <button aria-label="Edit" title="Edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="infowrap">
    <label for="dname">Display Name</label>
    <div class="flexwrap">
      <input
        id="dname"
        class="hide"
        type="name"
        placeholder="Enter display name"
      />
      <p></p>
      <button aria-label="Edit" title="Edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="infowrap">
    <label for="email">Email</label>
    <div class="flexwrap">
      <input type="email" id="email" placeholder="Enter email" class="hide" />
      <p></p>
      <button aria-label="Edit" title="Edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="infowrap">
    <label>Password</label>
    <div class="flexwrap">
      <div class="fdc hide">
        <div class="flexwrap p">
          <input
            type="password"
            id="password"
            placeholder="Enter current password"
          />
          <button aria-label="See" title="See">
            <i class="fas fa-eye"></i>
          </button>
        </div>
        <div class="flexwrap p">
          <input
            type="password"
            id="npassword"
            placeholder="Enter new password"
          />
          <button aria-label="See" title="See">
            <i class="fas fa-eye"></i>
          </button>
        </div>
        <div class="flexwrap p">
          <input
            type="password"
            id="cnpassword"
            placeholder="Re-enter new password"
          />
          <button aria-label="See" title="See">
            <i class="fas fa-eye"></i>
          </button>
        </div>
      </div>
      <p>Edit password</p>
      <button id="password" aria-label="Edit" title="Edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="save_discard_buttons hide">
    <button id="submit" aria-label="Save changes" title="Save changes">
      <i class="fas fa-save"></i>
      <p>Save Changes</p>
    </button>
    <button
      id="discard_all"
      aria-label="Discard changes"
      title="Discard changes"
    >
      <i class="fas fa-trash"></i>
      <p>Discard Changes</p>
    </button>
  </div>
  <div id="response"></div>
  <div class="delete-button">
    <button id="db">
      <p>Delete Account</p>
    </button>
    <button id="cancel">No</button>
    <p id="q">Are you sure you want to delete your account?</p>
    <button id="proceed">Yes</button>
    <button id="back">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div class="inpwrap">
      <input
        id="delpassword"
        type="password"
        placeholder="Enter your password to confirm"
      />
    </div>
    <button id="confirm">Delete</button>
  </div>
</section>
