<div class="msg">View and edit your account information.</div>
<section class="grid">
  <div class="infowrap">
    <label for="fname">First Name</label>
    <div class="flexwrap">
      <input
        id="fname"
        class="hide"
        type="name"
        placeholder="Enter first name"
      />
      <p></p>
      <span aria-label="Edit" title="Edit"><i class="fas fa-edit"></i></span>
    </div>
  </div>
  <div class="infowrap">
    <label for="lname">Last Name</label>
    <div class="flexwrap">
      <input
        id="lname"
        class="hide"
        type="name"
        placeholder="Enter last name"
      />
      <p></p>
      <span aria-label="Edit" title="Edit"><i class="fas fa-edit"></i></span>
    </div>
  </div>
  <!-- <div class="infowrap">
    <label for="email">Email</label>
    <div class="flexwrap">
      <p>rayvongregory@gmail.com</p>
    </div>
  </div> -->
  <div class="infowrap">
    <label for="email">Email:</label>
    <div class="flexwrap">
      <input type="email" id="email" placeholder="Enter email" class="hide" />
      <p></p>
      <span aria-label="Edit" title="Edit"><i class="fas fa-edit"></i></span>
    </div>
  </div>
  <div class="infowrap">
    <label for="dname">Display Name</label>
    <div class="flexwrap">
      <input
        id="dname"
        class="hide"
        type="name"
        placeholder="Enter display name"
      />
      <p></p>
      <span aria-label="Edit" title="Edit"><i class="fas fa-edit"></i></span>
    </div>
  </div>
  <div class="infowrap">
    <label>Password</label>
    <div class="flexwrap">
      <p>Edit password</p>
      <div class="fdc hide">
        <input
          type="password"
          id="password"
          placeholder="Enter current password"
        />
        <input type="password" id="password" placeholder="Enter new password" />
        <input
          type="password"
          id="password"
          placeholder="Re-enter new password"
        />
      </div>
      <span id="password" aria-label="Edit" title="Edit"
        ><i class="fas fa-edit"></i
      ></span>
    </div>
  </div>
  <div class="save_discard_buttons hide">
    <!-- only reveal when an update can be made -->
    <span
      id="submit"
      role="button"
      aria-label="Save changes"
      title="Save changes"
      ><i class="fas fa-save"></i>
      <p>Save Changes</p></span
    >
    <span
      id="discard_all"
      role="button"
      aria-label="Discard changes"
      title="Discard changes"
      ><i class="fas fa-trash"></i>
      <p>Discard Changes</p></span
    >
  </div>
  <div id="response"></div>
  <div class="delete">
    <button><h5>Delete Account</h5></button>
  </div>
</section>

<!-- <div class="centerwrap">
    <button id="submit" class="no-click">Update</button>
  </div>
  <p>Want to delete your account? <a href="/delete">Click here</a>.</p> -->
