<!-- <div class="textarea_wrapper hide">
  <div class="options">
    <div class="group">
      <button
        class="fullscreen square"
        aria-label="Fullscreen"
        title="Fullscreen"
      >
        <i class="fas fa-expand"></i>
      </button>
      <button
        class="review square"
        aria-label="Review source code "
        title="Review source code"
      >
        <i class="fas fa-code"></i>
      </button>
    </div>
    <div class="group">
      <button
        class="add_eqn square"
        aria-label="Add equation"
        title="Add equation"
      >
        <i class="fas fa-calculator"></i>
      </button>
      <button class="add_media square" aria-label="Add media" title="Add media">
        <i class="fas fa-photo-video"></i>
      </button>
      <button class="add_link square" aria-label="Add link" title="Add link">
        <i class="fas fa-link"></i>
      </button>
      <button
        class="add_hr square"
        aria-label="Add horizontal rule"
        title="Add horizontal rule"
      >
        <div class="hr"></div>
      </button>
    </div>
    <div id="font-family_select" class="group" aria-label="Fonts" title="Fonts">
      <button class="long"><p>Arial</p></button>
      <ul id="fonts" class="dropdown below invis">
        <li value="aleo" style="font-family: 'Aleo'">Aleo</li>
        <li value="arial" style="font-family: 'Arial'">Arial</li>
        <li value="arial_black" style="font-family: 'Arial Black'">
          Arial Black
        </li>
        <li value="georgia" style="font-family: 'Georgia'">Georgia</li>
        <li value="helvetica" style="font-family: 'Helvetica'">Helvetica</li>
        <li value="tahoma" style="font-family: 'Tahoma'">Tahoma</li>
        <li value="times" style="font-family: 'Times New Roman'">
          Times New Roman
        </li>
        <li value="urbanist" style="font-family: 'Urbanist'">Urbanist</li>
        <li value="verdana" style="font-family: 'Verdana'">Verdana</li>
      </ul>
    </div>
    <div
      id="font-size_select"
      class="group"
      aria-label="Font sizes"
      title="Font sizes"
    >
      <button class="long">12pt</button>
      <ul id="sizes" class="dropdown below invis">
         <li style="font-size: 8pt">8pt</li> -->
<!-- <li style="font-size: 10pt">10pt</li>
        <li style="font-size: 12pt">12pt</li>
        <li style="font-size: 14pt">14pt</li>
        <li style="font-size: 16pt">16pt</li>
        <li style="font-size: 18pt">18pt</li>
        <li style="font-size: 20pt">20pt</li>
        <li style="font-size: 24pt">24pt</li>
        <li style="font-size: 28pt">28pt</li>
        <li style="font-size: 30pt">30pt</li>
        <li style="font-size: 32pt">32pt</li>
        <li style="font-size: 36pt">36pt</li> -->
<!-- <li style="font-size: 40pt">40pt</li> -->
<!-- <li style="font-size: 48pt">48pt</li> -->
<!-- <li style="font-size: 60pt">60pt</li> -->
<!-- </ul>
    </div>
    <div class="group">
      <div class="combo_btn">
        <button
          class="text_clr square"
          aria-label="Text color"
          title="Text color"
        >
          <i class="fas fa-font"></i>
        </button>
        <button
          class="change_text_clr thin"
          aria-label="Change text color"
          title="Change text color"
        ></button>
        <ul class="text_colors dropdown grid below invis">
          <li
            style="background-color: #ba372a"
            aria-label="Dark red"
            title="Dark red"
          ></li>
          <li
            style="background-color: #e55832"
            aria-label="Bright orange-red"
            title="Bright orange-red"
          ></li>
          <li
            style="background-color: #f1c40f"
            aria-label="Yellow"
            title="Yellow"
          ></li>
          <li
            style="background-color: #01a5ad"
            aria-label="Turquoise"
            title="Turquoise"
          ></li>
          <li
            style="background-color: #005b60"
            aria-label="Deep teal"
            title="Deep teal"
          ></li>
          <li
            style="background-color: #494a4b"
            aria-label="Charcoal"
            title="Charcoal"
          ></li>
          <li
            style="background-color: #000000"
            aria-label="Black"
            title="Black"
          ></li>
          <li
            style="background-color: #f4f7f5"
            aria-label="Light gray"
            title="Light gray"
          ></li>
        </ul>
      </div>
      <div class="combo_btn">
        <button
          class="text_hi square"
          aria-label="Text highlight"
          title="Text highlight"
        >
          <i class="fas fa-highlighter"></i>
        </button>
        <button
          class="change_text_hi thin"
          aria-label="Change text highlight"
          title="Change text highlight"
        ></button>
        <ul class="highlight_colors dropdown grid below invis">
          <li
            style="background-color: #ba372a"
            aria-label="Dark red"
            title="Dark red"
          ></li>
          <li
            style="background-color: #e55832"
            aria-label="Bright orange-red"
            title="Bright orange-red"
          ></li>
          <li
            style="background-color: #f1c40f"
            aria-label="Yellow"
            title="Yellow"
          ></li>
          <li
            style="background-color: #01a5ad"
            aria-label="Turquoise"
            title="Turquoise"
          ></li>
          <li
            style="background-color: #005b60"
            aria-label="Deep teal"
            title="Deep teal"
          ></li>
          <li
            style="background-color: #494a4b"
            aria-label="Charcoal"
            title="Charcoal"
          ></li>
          <li
            style="background-color: #000000"
            aria-label="Black"
            title="Black"
          ></li>
          <li
            style="background-color: #f4f7f5"
            aria-label="Light gray"
            title="Light gray"
          ></li>
        </ul>
      </div>
      <button
        class="add_ul square"
        aria-label="Add unordered list"
        title="Add unordered list"
      >
        <i class="fas fa-list-ul"></i>
      </button>
      <button
        class="add_ol square"
        aria-label="Add ordered list"
        title="Add ordered list"
      >
        <i class="fas fa-list-ol"></i>
      </button>
    </div>
    <div class="group">
      <button
        class="align_left square"
        aria-label="Align left"
        title="Align left"
      >
        <i class="fas fa-align-left"></i>
      </button>
      <button
        class="align_center square"
        aria-label="Align center"
        title="Align center"
      >
        <i class="fas fa-align-center"></i>
      </button>
      <button
        class="align_right square"
        aria-label="Align right"
        title="Align right"
      >
        <i class="fas fa-align-right"></i>
      </button>
      <button class="align_justify square" aria-label="Justify" title="Justify">
        <i class="fas fa-align-justify"></i>
      </button>
    </div>
    <div class="group">
      <button
        class="indent square"
        aria-label="Increase indent"
        title="Increase indent"
      >
        <i class="fas fa-indent"></i>
      </button>
      <button
        class="outdent square"
        aria-label="Decrease indent"
        title="Decrease indent"
      >
        <i class="fas fa-outdent"></i>
      </button>
    </div>
    <div id="more" class="group">
      <button
        class="more square"
        aria-label="More options"
        title="More options"
      >
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <div class="more_options dropdown below invis"></div>
    </div>
  </div>
  <div class="editor_wrapper">
    <div contenteditable="">
      <p>I'm in the ghetto</p>
      <p>I'm not in the ghetto</p>
    </div>
    <div class="math_editor">
      <div class="math_editor___toolbar"></div>
    </div>
    <div class="word_count">
      <p>0</p>
      WORDS
    </div>
  </div>
</div> -->

<!-- <textarea id="mytextarea"></textarea> -->
<!-- <textarea id="textarea3"></textarea>
  <textarea id="textarea4"></textarea>
  <textarea id="textarea5"></textarea>
  <textarea id="textarea6"></textarea>
  <textarea id="textarea7"></textarea> -->
<!-- </div> -->
