<div class="gridwrap">
  <section class="grid login">
    <div class="infowrap">
      <label for="email">Email</label>
      <div class="flexwrap">
        <input id="email" type="name" placeholder="Enter email" />
      </div>
    </div>
    <div class="infowrap">
      <label for="password">Password</label>
      <div class="flexwrap">
        <input
          id="password"
          class="brn"
          type="password"
          placeholder="Enter password"
          autocomplete="off"
          required
        />
        <button aria-label="See" title="See">
          <i class="fas fa-eye"></i>
        </button>
      </div>
    </div>
    <div id="response"></div>
    <div class="fdc">
      <button id="submit">Submit</button>
      <p>Don't have an account? <a href="/register">Register here</a>!</p>
    </div>
  </section>
</div>
