<h1 class="auth-form___header">Login</h1>
<div class="auth-form">
  <form id="form" onsubmit="return false;">
    <div class="flexwrap">
      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="Enter email" required />
    </div>
    <div class="flexwrap">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Enter password"
        autocomplete="off"
        required
      />
    </div>
    <div id="response"></div>
    <div class="centerwrap">
      <button id="submit">Submit</button>
    </div>
    <p>Don't have an account? <a href="/register">Register here</a>!</p>
  </form>
</div>
