<section class="message_board">
  <!-- hide this -->
  <div class="add_post-wrapper hide">
    <div class="add_post">
      <img src="/images/user_icon.png" alt="user icon" />
      <label for="starter">I have a question on</label>
      <input
        id="starter"
        type="text"
        placeholder="e.g. the Pythagorean Theorem"
      />
    </div>
    <p></p>
    <div class="textarea-wrapper">
      <textarea class="hide" id="index_textarea"> </textarea>
    </div>
  </div>
  <!-- keep this revealed -->
  <div class="messages hide">
    <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
  </div>
</section>
