<nav>
  <div class="buttons">
    <a href="/"><i class="fas fa-home"></i>Home</a>
    <a href="/learn"><i class="fas fa-book-open"></i>Learn</a>
    <a href="/practice"> <i class="fas fa-pen"></i>Practice </a>
    <a href="/help"><i class="fas fa-info"></i>Help</a>
    <button id="nav-search-btn"></button>
  </div>
</nav>
<div class="nav___search-container">
  <div class="nav___search">
    <input class="nav___search-input" type="text" placeholder="Search" />
    <button id="submit-search" class="btn" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
