<div class="overlay hide">
  <div class="overlay___card">
    <div class="overlay___header">
      <h3 class="not_met"></h3>
      <span class="close"><i class="fas fa-times-circle"></i></span>
    </div>
    <div class="overlay___body">
      <p></p>
      <form>
        <!-- <label
          ><input type="radio" name="a" id="" />Choice 1 Choice 1 Choice 1
          Choice 1 Choice 1 Choice 1 Choice 1 Choice 1 Choice 1 Choice 1 Choice
          1 Choice 1 Choice 1 Choice 1</label
        > -->
        <!-- <label
          ><input type="radio" name="a" id="" />
          <p>
            <img
              style="max-width: none; vertical-align: -15px"
              class="Wirisformula"
              src="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Awrs%3D%22http%3A%2F%2Fwww.wiris.com%2Fxml%2Fmathml-extension%22%20height%3D%2245%22%20width%3D%2243%22%20wrs%3Abaseline%3D%2230%22%3E%3C!--MathML%3A%20%3Cmath%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1998%2FMath%2FMathML%22%3E%3Cmfrac%3E%3Cmsqrt%3E%3Cmn%3E69%3C%2Fmn%3E%3C%2Fmsqrt%3E%3Cmn%3E420%3C%2Fmn%3E%3C%2Fmfrac%3E%3C%2Fmath%3E--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%2F%3E%3C%2Fdefs%3E%3Cline%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20x1%3D%222.5%22%20x2%3D%2239.5%22%20y1%3D%2224.5%22%20y2%3D%2224.5%22%2F%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%2212%2C-16%2011%2C-16%205%2C0%202%2C-6%22%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20transform%3D%22translate(4.5%2C20.5)%22%2F%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%225%2C0%202%2C-6%200%2C-5%22%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20transform%3D%22translate(4.5%2C20.5)%22%2F%3E%3Cline%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20x1%3D%2216.5%22%20x2%3D%2237.5%22%20y1%3D%224.5%22%20y2%3D%224.5%22%2F%3E%3Ctext%20font-family%3D%22Arial%22%20font-size%3D%2216%22%20text-anchor%3D%22middle%22%20x%3D%2227.5%22%20y%3D%2219%22%3E69%3C%2Ftext%3E%3Ctext%20font-family%3D%22Arial%22%20font-size%3D%2216%22%20text-anchor%3D%22middle%22%20x%3D%2221.5%22%20y%3D%2241%22%3E420%3C%2Ftext%3E%3C%2Fsvg%3E"
              data-mathml="«math xmlns=¨http://www.w3.org/1998/Math/MathML¨»«mfrac»«msqrt»«mn»69«/mn»«/msqrt»«mn»420«/mn»«/mfrac»«/math»"
              alt="fraction numerator square root of 69 over denominator 420 end fraction"
              role="math"
              width="43"
              height="45"
              align="middle"
            /></p
        ></label> -->
        <!-- <label><input type="radio" name="a" id="" />Choice 3</label> -->
        <!-- <label
          ><input type="radio" name="a" id="" />
          <p>
            <img
              class="Wirisformula"
              src="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Awrs%3D%22http%3A%2F%2Fwww.wiris.com%2Fxml%2Fmathml-extension%22%20height%3D%2245%22%20width%3D%2243%22%20wrs%3Abaseline%3D%2230%22%3E%3C!--MathML%3A%20%3Cmath%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1998%2FMath%2FMathML%22%3E%3Cmfrac%3E%3Cmsqrt%3E%3Cmn%3E76%3C%2Fmn%3E%3C%2Fmsqrt%3E%3Cmn%3E120%3C%2Fmn%3E%3C%2Fmfrac%3E%3C%2Fmath%3E--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%2F%3E%3C%2Fdefs%3E%3Cline%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20x1%3D%222.5%22%20x2%3D%2239.5%22%20y1%3D%2224.5%22%20y2%3D%2224.5%22%2F%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%2212%2C-16%2011%2C-16%205%2C0%202%2C-6%22%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20transform%3D%22translate(4.5%2C20.5)%22%2F%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%225%2C0%202%2C-6%200%2C-5%22%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20transform%3D%22translate(4.5%2C20.5)%22%2F%3E%3Cline%20stroke%3D%22%23000000%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%221%22%20x1%3D%2216.5%22%20x2%3D%2237.5%22%20y1%3D%224.5%22%20y2%3D%224.5%22%2F%3E%3Ctext%20font-family%3D%22Arial%22%20font-size%3D%2216%22%20text-anchor%3D%22middle%22%20x%3D%2227.5%22%20y%3D%2219%22%3E76%3C%2Ftext%3E%3Ctext%20font-family%3D%22Arial%22%20font-size%3D%2216%22%20text-anchor%3D%22middle%22%20x%3D%2221.5%22%20y%3D%2241%22%3E120%3C%2Ftext%3E%3C%2Fsvg%3E"
              data-mathml="«math xmlns=¨http://www.w3.org/1998/Math/MathML¨»«mfrac»«msqrt»«mn»76«/mn»«/msqrt»«mn»120«/mn»«/mfrac»«/math»"
              alt="fraction numerator square root of 76 over denominator 120 end fraction"
              role="math"
              style="max-width: none; vertical-align: -15px"
              data-mce-selected="1"
              width="43"
              height="45"
              align="middle"
            /><br /></p
        ></label> -->
        <!-- <label><input type="radio" name="a" id="" />Choice 5</label> -->
      </form>
      <button class="not_met">Submit</button>
    </div>
  </div>
</div>
