<div class="problem_set">
  <div class="no_problems_yet">
    <h3>No problems have been added to this exercise</h3>
  </div>
  <ul id="easy_problems" class="hide">
    <h4>Easy Problems</h4>
  </ul>
  <ul id="standard_problems" class="hide">
    <h4>Standard Problems</h4>
  </ul>
  <ul id="hard_problems" class="hide">
    <h4>Hard Problems</h4>
  </ul>
  <ul id="advanced_problems" class="hide">
    <h4>Advanced Problems</h4>
  </ul>
  <ul id="no_difficulty_problems" class="hide">
    <h4>No Difficulty Chosen</h4>
  </ul>
</div>
