<div id="problem_set">
  <div id="no_problems_yet">
    <h3>No problems have been added to this exercise</h3>
  </div>
  <section class="hide">
    <div class="header">
      <h4>Easy Problems</h4>
      <button>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <ul id="easy_problems"></ul>
  </section>
  <section class="hide">
    <div class="header">
      <h4>Standard Problems</h4>
      <button>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <ul id="standard_problems"></ul>
  </section>
  <section class="hide">
    <div class="header">
      <h4>Hard Problems</h4>
      <button>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <ul id="hard_problems"></ul>
  </section>
  <section class="hide">
    <div class="header">
      <h4>Advanced Problems</h4>
      <button>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <ul id="advanced_problems"></ul>
  </section>
  <section class="hide">
    <div class="header">
      <h4>No Difficulty Chosen</h4>
      <button>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <ul id="no_difficulty_problems"></ul>
  </section>
</div>
