<section class="exercise_requirements">
  <div class="to_publish_exercise_buttons">
    <ul class="to_publish_exercise">
      <h4>To publish this exercise:</h4>
      <li id="thirty_easy" class="satisfied">
        <i class="fas fa-check-circle"></i>
        <p>Create at least 30 unique easy questions</p>
      </li>
      <li id="thirty_standard" class="satisfied">
        <i class="fas fa-check-circle"></i>
        <p>Create at least 30 unique standard questions</p>
      </li>
      <li id="twenty_hard" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 20 unique hard questions</p>
      </li>
      <li id="twenty_advanced" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 20 unique advanced questions</p>
      </li>
      <li id="all_meet_reqs" class="not_met">
        <i class="fas fa-check-circle"></i>
        <p>All questions meet the listed requirements</p>
      </li>
    </ul>
    <%- include('../partials/publish_save_buttons'); %>
  </div>
</section>
