<section class="exercise_requirements">
  <div class="to_publish_exercise_sd">
    <ul class="to_publish_reqs">
      <h4>To publish this exercise</h4>
      <li id="create_title" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create a title</p>
      </li>
      <li id="add_tags" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Add tags</p>
      </li>
      <li id="choose_subject" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Choose a subject</p>
      </li>
      <li id="pick_chapter_section" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Pick a chapter and section</p>
      </li>
      <li id="ten_easy" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 10 unique easy questions</p>
      </li>
      <li id="ten_standard" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 10 unique standard questions</p>
      </li>
      <li id="ten_hard" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 10 unique hard questions</p>
      </li>
      <li id="ten_advanced" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 10 unique advanced questions</p>
      </li>
      <li id="all_meet_reqs" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>All questions meet the listed requirements</p>
      </li>
    </ul>
    <%- include('../partials/publish_save_buttons'); %>
  </div>
</section>
