<section class="exercise_requirements">
  <ul class="to_publish_reqs">
    <h4>To publish this lesson</h4>
    <li id="create_title" class="not_met">
      <i class="fas fa-times-circle"></i>
      <p>Create a title</p>
    </li>
    <li id="add_tags" class="not_met">
      <i class="fas fa-times-circle"></i>
      <p>Add tags</p>
    </li>
    <li id="choose_subject" class="not_met">
      <i class="fas fa-times-circle"></i>
      <p>Choose a subject</p>
    </li>
    <li id="pick_chapter_section" class="not_met">
      <i class="fas fa-times-circle"></i>
      <p>Pick a chapter and section</p>
    </li>
    <li id="at_least_500" class="not_met">
      <i class="fas fa-times-circle"></i>
      <p>Create an article with at least 500 words</p>
    </li>
  </ul>
  <%- include('../partials/publish_save_buttons'); %>
</section>
