<section class="exercise_requirements">
  <div class="to_publish_add_question">
    <ul class="to_publish_question">
      <h4>To publish this question:</h4>
      <li id="question" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Pose a unique question</p>
      </li>
      <li id="difficulty" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Select a difficulty</p>
      </li>
      <li id="correct_answer" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create the correct answer</p>
      </li>
      <li id="ten_choices" class="not_met">
        <i class="fas fa-times-circle"></i>
        <p>Create at least 10 unique choices</p>
      </li>
    </ul>
    <div class="add_delete_q_buttons">
      <span
        id="question_add"
        role="button"
        aria-label="Add question to exercise"
        title="Add question to exercise"
        ><i class="fas fa-plus-circle"></i>
        <p>Add Question</p></span
      >
      <span
        id="question_delete"
        role="button"
        aria-label="Delete question"
        title="Delete question"
        ><i class="fas fa-trash"></i>
        <p>Delete Question</p></span
      >
    </div>
  </div>
</section>
