<div class="publish_save_buttons">
  <span
    id="publish"
    class="no-click"
    role="button"
    aria-label="Publish"
    title="Publish"
    ><i class="fas fa-upload"></i>
    <p>Publish</p></span
  >
  <span
    id="draft"
    role="button"
    aria-label="Save as Draft"
    title="Save as Draft"
    ><i class="fas fa-save"></i>
    <p>Save as Draft</p></span
  >
</div>
