<div class="container">
  <div class="publish_save_buttons">
    <div id="publish-btn-wrapper" class="no-click">
      <button
        id="publish"
        class="no-click"
        aria-label="Publish"
        title="Publish"
      >
        <i class="fas fa-upload"></i>
        <p>Publish</p>
      </button>
    </div>
    <button id="draft" aria-label="Save as Draft" title="Save as Draft">
      <i class="fas fa-save"></i>
      <p>Save as Draft</p>
    </button>
  </div>
  <p id="feedback">Placeholder</p>
</div>
