<section class="question_choices">
  <li>
    <p>Add</p>
    <span role="button" aria-label="See choice" title="See choice"
      ><i class="fas fa-eye"></i
    ></span>
    <span role="button" aria-label="Edit choice" title="Edit choice"
      ><i class="fas fa-edit"></i
    ></span>
    <span role="button" aria-label="Duplicate choice" title="Duplicate choice"
      ><i class="fas fa-copy"></i
    ></span>
    <span role="button" aria-label="Delete choice" title="Delete choice"
      ><i class="fas fa-trash"></i
    ></span>
  </li>
  <li>
    <p>the</p>
    <span role="button" aria-label="See choice" title="See choice"
      ><i class="fas fa-eye"></i
    ></span>
    <span role="button" aria-label="Edit choice" title="Edit choice"
      ><i class="fas fa-edit"></i
    ></span>
    <span role="button" aria-label="Duplicate choice" title="Duplicate choice"
      ><i class="fas fa-copy"></i
    ></span>
    <span role="button" aria-label="Delete choice" title="Delete choice"
      ><i class="fas fa-trash"></i
    ></span>
  </li>
  <li>
    <p>choices</p>
    <span role="button" aria-label="See choice" title="See choice"
      ><i class="fas fa-eye"></i
    ></span>
    <span role="button" aria-label="Edit choice" title="Edit choice"
      ><i class="fas fa-edit"></i
    ></span>
    <span role="button" aria-label="Duplicate choice" title="Duplicate choice"
      ><i class="fas fa-copy"></i
    ></span>
    <span role="button" aria-label="Delete choice" title="Delete choice"
      ><i class="fas fa-trash"></i
    ></span>
  </li>
  <li>
    <p>here</p>
    <span role="button" aria-label="See choice" title="See choice"
      ><i class="fas fa-eye"></i
    ></span>
    <span role="button" aria-label="Edit choice" title="Edit choice"
      ><i class="fas fa-edit"></i
    ></span>
    <span role="button" aria-label="Duplicate choice" title="Duplicate choice"
      ><i class="fas fa-copy"></i
    ></span>
    <span role="button" aria-label="Delete choice" title="Delete choice"
      ><i class="fas fa-trash"></i
    ></span>
  </li>
</section>
