<div class="textarea-wrapper">
  <label for="create_question">Question: </label>
  <div class="extra-options">
    <select name="difficulty" id="choose_difficulty">
      <option value="no_choice">Select a difficulty</option>
      <option value="easy">Easy</option>
      <option value="standard">Standard</option>
      <option value="hard">Hard</option>
      <option value="advanced">Advanced</option>
    </select>
    <span
      id="q_add"
      role="button"
      aria-label="Add question"
      title="Add question"
      ><i class="fas fa-plus-circle"></i
    ></span>
    <span id="q_discard" role="button" aria-label="Discard" title="Discard"
      ><i class="fas fa-trash"></i
    ></span>
  </div>
  <textarea id="create_question"></textarea>
  <ul class="question_section hide">
    <li>
      <p>Question</p>
      <span role="button" aria-label="See question" title="See question"
        ><i class="fas fa-eye"></i></span
      ><span role="button" aria-label="Edit question" title="Edit question"
        ><i class="fas fa-edit"></i></span
      ><span role="button" aria-label="Delete question" title="Delete question"
        ><i class="fas fa-trash"></i
      ></span>
    </li>
  </ul>
</div>
