<div class="question_bank">
  <div class="no_questions_yet">
    <h3>No questions have been added to this exercise</h3>
  </div>
  <ul class="easy_qs hide">
    <h4>Easy Questions</h4>
  </ul>
  <ul class="standard_qs hide">
    <h4>Standard Questions</h4>
  </ul>
  <ul class="hard_qs hide">
    <h4>Hard Questions</h4>
  </ul>
  <ul class="advanced_qs hide">
    <h4>Advanced Questions</h4>
  </ul>
  <ul class="no_difficulty_qs hide">
    <h4>No Difficulty Chosen</h4>
  </ul>
</div>
