<div class="flex-wrapper">
  <label for="title">Title: </label>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="Create a title for this resource"
  />
  <p id="ptitle"></p>
</div>
<div class="flex-wrapper">
  <label for="input">Tags: </label>
  <input
    type="text"
    name="input"
    id="tags_input"
    placeholder="Create tags for this resource"
  />
  <p id="ptag">Click <a href="/tags">here</a> to learn more about tags.</p>
</div>
<div class="tags-wrapper">
  <section class="hide" id="tags"></section>
</div>
