<div class="tts-grid">
  <div class="flex-wrapper">
    <div class="label-wrapper">
      <label for="title">Title</label>
    </div>
    <input
      id="title"
      type="text"
      placeholder="Please enter the title of this resource"
    />
  </div>
  <div class="flex-wrapper">
    <div class="label-wrapper">
      <label for="tags_input">Tags</label>
    </div>
    <input
      type="text"
      name="input"
      id="tags_input"
      placeholder="Create tags for this resource"
    />
  </div>
  <div class="tags-wrapper">
    <section class="hide" id="tags"></section>
  </div>
  <div class="flex-wrapper">
    <div class="label-wrapper">
      <label for="subject">Subject</label>
    </div>
    <select name="subject" id="subject">
      <option value="no_choice">Choose a subject</option>
      <option value="7">7th Grade</option>
      <option value="8">8th Grade</option>
      <option value="alg">Algebra</option>
      <option value="geo">Geometry</option>
      <option value="p_s">Probability & Statistics</option>
      <option value="alg2">Algebra 2</option>
      <option value="pc">Precalculus</option>
      <option value="calc">Calculus</option>
      <option value="calc2">Calculus 2</option>
    </select>
  </div>
</div>
