#problem_set section.invis,
#no_problems_yet.invis,
.invis {
    max-height: 0;
    padding: 0;
    border: none;
}

.three-two-grid {
    display: grid;
    grid-template-columns: minmax(0,3fr) minmax(0, 2fr);
    gap: 10px;
    margin-top: 10px;
}

.four-one-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 10px;
}

.textarea-wrapper {
    max-width: 980px;
    height: fit-content;
    position: relative;
    grid-column: 1/span 1;
    display: flex;
    flex-direction: column;
}

.textarea-wrapper ~ .textarea-wrapper {
    margin-top: 5px;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

.toolbar {
    display: flex;
    padding: 2px;
    justify-content: space-between;
    background-color: white;
    border: var(--tinymceBorder);
    border-bottom: none;
}

.textarea {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 0.5rem;
    resize: none;
    border: var(--tinymceBorder);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    outline: none;
    overflow: auto;
}

.extra-options {
    display: flex;
    align-items: center;
}

.extra-options select {
    margin-right: 0.5rem;
}

.extra-options button, 
.extra-options select {
    pointer-events: all;
}

.extra-options button,
.mathtype {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    background-color: transparent;
}

.extra-options button:hover, 
.mathtype:hover,
#add_delete_q_buttons button:hover {
    background-color: var(--tinymceGray);
    cursor: pointer;
}

.extra-options select:hover {
    cursor: pointer;
}

.extra-options button:active, 
.extra-options button:focus, 
.mathtype:active,
.mathtype:focus,
#add_delete_q_buttons button:active, 
#add_delete_q_buttons button:focus {
    background-color: var(--tinymceGrayActive);
    outline: none;
}

.exercise_requirements {
    grid-row: 1/span 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    font-size: 0.65em;
    width: 100%;
    height: 100%;
}

.mathtype img {
    padding: 9px;
}

.add_img {
    margin-top: 10px;
}

.to_publish_exercise_sd {
    position: sticky;
    top: 0;
}

.to_publish_add_question {
    position: sticky;
    top: 0;
    margin-top: 22px;
    height: fit-content;
}

#add_delete_q_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    gap: 10px;
    padding: 1rem; 
    width: 100%;
    background-color: white;
    border: var(--tinymceBorder);
}

#add_all, 
#discard_all_slider {
    width: 100%;
    height: 60px;
    border: var(--border);
    border-radius: 3px;
}

#add_all {
    padding: 5px;
}

#discard_all_slider {
    border: var(--border);
    overflow: hidden;
    pointer-events: none;
    scroll-behavior: smooth;
}

#d_a1 {
    padding: 5px;
    border: none;

}

#d_a1, #d_a2 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

#d_a1 {
    pointer-events: all;
}

#d_a2 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 3fr);
    grid-template-rows: 32px auto; 
}

#d_a2 button:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#d_a2 :nth-child(1) {
    grid-column: 1/span 3;
    justify-self: center;
    align-self: center;
    font-size: 0.85rem;
}

.flash {
    animation: color-in-out 600ms ease-in-out;
}

@keyframes color-in-out {
    0%, 50%, 100% {
        color: black;
    }
    25%, 75% {
        color: var(--brightOrange);
    }
}

#d_a2 :nth-child(2) {
    grid-column: 1;
}

#d_a2 :nth-child(3) {
    grid-column: 2;
}

#d_a2 :nth-child(4) {
    grid-column: 3;
}

#add_all i, 
#d_a1 i {
    font-size: 1.5rem;
}

#discard_btn_back, 
#discard_confirm,
#discard_all {
    pointer-events: all;
}

#discard_btn_back,
#discard_all {
    border: none;
}

#discard_confirm {
    border: none;
    border-top: 1px solid #e9e9ed;
    text-align: center;
}

#discard_confirm:hover,
#discard_confirm:focus {
    outline: none;
}

#add_delete_q_buttons i + p {
    margin-top: 5px;
    font-size: 0.85rem;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
}

#problem_set {
    display: grid;
    height: fit-content;
}

#problem_set section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: white;
    border: var(--tinymceBorder);
}

#problem_set section:not(section.invis) ~ section:not(section.invis) {
    margin-top: 10px;
}

#problem_set section ul {
    padding-top: 1rem;
    height: auto;
    transition: height 100ms ease-in-out;
    overflow: hidden;
    list-style: none;
}

#correct_answer_section, 
#question_section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: var(--tinymceBorder);
}

#question_choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: var(--tinymceBorder);
}

#question_choices > ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
}

#correct_answer_section > li, 
#question_section > li {
    width: 50%;
    list-style: none;
    text-decoration: none;
}

.piFront { 
    display: flex;
    align-items: center;
    color: var(--deepTeal);
    pointer-events: none;
}

#question_choices li, 
#correct_answer_section li, 
#question_section li,
#problem_set li {
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 4px;
    border: var(--border);
    border-radius: 3px;
}

#problem_set li {
    margin-top: 10px;
    width: 100%;
    max-width: 700px;
    pointer-events: none;
    overflow: hidden;
}

#problem_set li:last-of-type {
    margin-bottom: 5px;
}

.piFront,
.piBack {
    display: flex;
   
}

.piFront {
    width: 100%;
}

.piFront p {
    white-space: nowrap;
    padding-right: 10px;
}

.piBack {
    width: 100%;
    max-width: 0;
    overflow: hidden;
    pointer-events: all;
    transition: max-width 0.3s ease-out;
}

.piBack.grow {
    max-width: 260px;
}

.piBack > * {
    height: 30px;
}

.piBack button {
    border: none;
    cursor: pointer;
}

.piBack input {
    border: 1px solid #e9e9ed;
    padding-left: 5px;
    width: calc(100% - 90px);
    outline: none;
}

.piBack button:first-of-type {
    width: 30px;
}

.piBack button:last-of-type {
    width: 60px;
}

.piFront {
    padding: 5px 5px 5px 10px;
}

.piFront span {
    margin-right: 0.75rem;
}

.piFront + li {
    margin-top: 10px;
}

.piFront > p {
    margin-right: auto;
}

.piFront > button {
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;
    color: var(--deepTeal);
    font-size: 1rem;
    pointer-events: all;
    border-radius: 3px;
    cursor: pointer;
}

li.satisfied .piFront p, 
li.satisfied .piFront span,
li.satisfied .piFront button i {
    color: var(--deepTeal);
}

li.satisfied .piBack button {
    background-color: var(--deepTeal);
    color: white;
}

li.not_met .piFront p, 
li.not_met .piFront span,
li.not_met .piFront button i {
    color: darkred;
}

li.not_met .piBack button {
    background-color: darkred;
    color: white;
}

.piFront button:hover,
.piFront button:focus,
.piBack button:hover,
.piBack button:focus {
    background-color: var(--tinymceGray);
}

.piFront button:active,
.piBack button:active {
    background-color: var(--tinymceGrayActive);
}

input.flash {
    animation: color-in-out 600ms ease-in-out;
}

input.flash::placeholder {
    opacity: 1;
}

#no_problems_yet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: var(--tinymceBorder);
    background-color: white;
}

#no_problems_yet h3 {
    padding: 10px;
}

#problem_set .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 5px;
}

#problem_set .header h4 {
    font-size: 1.125rem;
}

#problem_set .header button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;
}

#problem_set .header button:hover,
#problem_set .header button:focus {
    border: var(--border);
    background-color: var(--tinymceGray);
}

#problem_set .header button:active {
    border: var(--border);
    background-color: var(--tinymceGrayActive);
}

#question_section.pop-top, 
#correct_answer_section.pop-top, 
#question_choices.pop-top {
    border-top: none;
}



.img-wrapper {
    margin-bottom: 1rem;
}

@keyframes color-in-out {
    0%, 50% {
        color: var(--deepRed);
    }
    25%, 75% {
        color: var(--tinymceGrayActive);
    }
    100% {
        color: #767676;
    }
}
