<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      h1 {
        display: grid;
        place-content: center;
        height: 200px;
        background-color: #005b60;
        color: white;
        font-size: clamp(2rem, 10vw, 3.5rem);
        font-family: "Aleo", "Times New Roman", Times, serif;
      }
      div {
        display: grid;
        gap: 2rem;
        width: 100%;
        max-width: 600px;
        margin: 1rem auto 0;
        padding: 1rem;
      }
      h3 {
        width: fit-content;
        font-size: clamp(18px, 5.2vw, 24px);
        color: #494a4b;
      }
      p {
        font-size: clamp(14px, 3.5vw, 16px);
        color: #494a4b;
      }
      a {
        display: block;
        margin: auto auto 3rem;
        padding: 0.5rem 1rem;
        width: fit-content;
        border-radius: 5px;
        color: white;
        background: #ba372a;
        box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-size: clamp(14px, 3.5vw, 16px);
        font-family: "Arial", Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Math Camp</h1>
    <div>
      <h3><%=name%> just <%=action%>!</h3>
      <p>Click the button below to see what they said.</p>
      <a href="<%=url%>">See comment</a>
    </div>
  </body>
</html>
