#help {
    position: relative;
    min-height: calc(100vh - 250px);
    margin: auto;
    padding: 1rem 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 768px;
}

#no-access {
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-size: 18px;
}

#access, 
#no-access {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#access.reveal,
#no-access.reveal {
    opacity: 1;
}

.links {
    display: flex;
    gap:  1rem;
}

.links a {
    display: grid;
    place-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--deepRed);
    color: white;
    text-decoration: none;
}

#access {
    width: 100%;
    height: 100%;
}

#comment {
    width: 100%;
    max-width: 576px;
    margin: auto;
    list-style: none;
}

#comment > div[data-id] {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 576px;
    min-height: 173px;
    margin: auto;
    border-radius: 5px;
    border: var(--border);
    background-color: white;
    color: var(--neutralDark);
    box-shadow: var(--boxShadow);
    scroll-behavior: smooth;
    transition: opacity 0.3s linear 0.8s, max-height 0.4s linear 1s, margin-top 0.4s linear 1s;
    opacity: 1;
    overflow: hidden;
}

#comment div[data-id].center,
.reply.center {
    justify-content: center;
    align-items: center;
    max-height: 0px;
    margin-top: 0;
    color: var(--deepRed);
    opacity: 0;
}

#comment div[data-id] ~ div[data-id] {
    margin-top: 1rem;
}

#comment div[data-id]:first-of-type.center + div[data-id],
.replies div[data-id]:first-of-type.center + .reply {
    margin-top: 0;
}

#comment >:last-child,
#comment >div[data-id].more-bottom-margin{
    margin-bottom: 55px;
}

.front .flex >:nth-child(2) {
    margin-right: auto;
}

#comment div[data-id] > div button,
#comment div[data-id] + div button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.smaller.clickable {
    pointer-events: all;
}

.reply .larger {
    padding: 10px 15px 0 10px;
}

.reply .flex {
    margin: 20px 15px 5px 10px;
}

.front p[contenteditable].sub {
    padding: 9.5px;
    margin-bottom: auto;
}

.reply p.sub {
    padding: 1px 10.5px 0;
}

#new-msg-btn {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 18px;
    border: var(--tinymceBorder);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: var(--deepTeal);
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
    pointer-events: all;
    opacity: 0;
    transition: bottom 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

#new-msg-btn.reveal {
    opacity: 1;
}

#new-msg-btn i {
    transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
}

#new-msg-btn.rotate {
    bottom: 272px;
    color: var(--deepRed)
}

#new-msg-btn.rotate i {
    transform: rotate(45deg);
}

#new-msg {
    position: absolute;
    right: 25px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 0;
    height: 0;
    border-radius: 10px;
    transition: min-height 0.3s ease-in-out;
    pointer-events: all;
    overflow: hidden;
}

#new-msg > *,
#new-msg #submit-q {
    opacity: 0;
    outline: none;
}

#new-msg.open {
    padding: 15px;
    height: unset;
    min-height: 270px;
    border: var(--tinymceBorder);
    background-color: white;
    transition: min-height 0.3s ease-in-out 0.4s, 
                border 0s ease-in-out 0.4s, 
                background-color 0.3s ease-in-out 0.2s;
}

#new-msg.open > * {
    transition: opacity 0.2s linear 0.4s;
    opacity: 1;
}

#new-msg.open #submit-q {
    transition: opacity 0.2s linear 0.4s, background-color 0.2s linear, color 0.2s linear;
    opacity: 1;
}

#new-msg label ~ label {
    margin-top: 10px;
}

#new-msg textarea {
    padding: 5px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    border-radius: 2px 2px 0 0;
    border: 1px solid #8f8f9d;
    resize: none;
}

#question {
    height: 50px;
}

#details {
    height: 100px;
}

#submit-q {
    height: 30px;
    background-color: var(--tinymceGray);
    border: 1px solid #8f8f9d;
    border-top: none;
    border-radius: 0 0 2px 2px;
    pointer-events: none;
    cursor: pointer;
}

#submit-q.allow {
    background-color: var(--deepRed);
    color: white;
    pointer-events: all;
}

@media (min-width: 320px) {
    #help {
        padding: 2rem 1rem 1rem;
        min-height: calc(100vh - 223px);
    }

    #new-msg {
        width: 275px;
    }
}

@media (min-width: 576px) {
    #help {
        padding: 2rem 2rem 1rem;
    }

    #new-msg-btn {
        right: 20px
    }

    #new-msg {
        right: 39px;
        width: 300px
    }
}