<div class="gridwrap r">
  <section class="grid register">
    <div class="infowrap">
      <label for="fname">First Name</label>
      <div class="flexwrap">
        <input type="name" id="fname" placeholder="Enter first name" required />
      </div>
    </div>
    <div class="infowrap">
      <label for="lname">Last Name</label>
      <div class="flexwrap">
        <input type="name" id="lname" placeholder="Enter last name" required />
      </div>
    </div>
    <div class="infowrap">
      <label for="email">Email</label>
      <div class="flexwrap">
        <input type="email" id="email" placeholder="Enter email" required />
      </div>
    </div>
    <div class="infowrap">
      <label for="cemail">Confirm email</label>
      <div class="flexwrap">
        <input type="email" id="cemail" placeholder="Re-enter email" required />
      </div>
    </div>
    <div class="infowrap">
      <label for="password">Password</label>
      <div class="flexwrap">
        <input
          id="password"
          class="brn"
          type="password"
          placeholder="Enter password"
          autocomplete="off"
          required
        />
        <button aria-label="See" title="See">
          <i class="fas fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="infowrap">
      <label for="cpassword">Confirm password</label>
      <div class="flexwrap">
        <input
          id="cpassword"
          class="brn"
          type="password"
          placeholder="Re-enter password"
          autocomplete="off"
          required
        />
        <button aria-label="See" title="See">
          <i class="fas fa-eye"></i>
        </button>
      </div>
    </div>
    <div id="response"></div>
    <div class="fdc">
      <button id="submit">Submit</button>
      <p>Already have an account? <a href="/login">Log in here</a>!</p>
    </div>
  </section>
</div>
