:root {
    --transparent: rgba(0, 0, 0, 0.7);
    --translateX: translateX(-50px);
    --rotateTranslate: rotate(45deg) translate(5px, 5px);
    --rotateTranslate2: rotate(-45deg) translate(6px, -6px);
    --transition: transform 0.3s ease-in-out, background-color 0.2s ease-out;
}

aside {
    position: absolute;
    z-index: 1;
    width: 230px;
    left: -230px;
    display: grid;
    grid-template-columns: 65px auto;
    grid-auto-rows: minmax(min-content, max-content);
    min-height: 100%;
    color: var(--neutralLight);
    background-color: var(--transparent);
    -webkit-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
}

aside h3 {
    display: block;
    font-size: 1.25em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

aside ul {
    list-style: none;
    padding-top: 0.5rem;
    grid-column: 2;
}

aside li {
    line-height: 2em;
    white-space: nowrap;
}

aside a {
    color: inherit;
    text-decoration: none;
}

#logout {
    cursor: pointer;
}

.name-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    height: -moz-fit-content;
}

.name-wrapper img {
    width: 1.125rem;
    height: 1.125rem;
    clip-path: circle(50%);
    display: none;
}

.name-wrapper i {
    display: none;
    margin: 5px 0 5px 10px;
    font-size: 1.125rem;
    color: black;
}

.slide {
    left: 0;
    opacity: 1;
}

.abs {
    position: absolute;
    left: unset;
    right: -50px;
    pointer-events: all;
}

.fixed {
    position: fixed;
    right: unset;
    left: 15px;
    pointer-events: none;
}

.sticky {
    position: sticky;
    right: unset;
    left: 14.5px;
    pointer-events: all;
}

.sticky-div {
    grid-column: 2;
    position: sticky;
    top: 18px;
}

.menu-btn {
    top: 14px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    height: 35px;

    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.menu-btn_burgir,
.menu-btn_burgir-before,
.menu-btn_burgir-after {
    z-index: 3;
    width: 30px;
    height: 3px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.menu-btn.open .menu-btn_burgir {
    -webkit-transform: var(--translateX);
        -ms-transform: var(--translateX);
            transform: var(--translateX);
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.menu-btn.open .menu-btn_burgir-before {
    -webkit-transform: var(--rotateTranslate);
        -ms-transform: var(--rotateTranslate);
            transform: var(--rotateTranslate);
}

.menu-btn.open .menu-btn_burgir-after {
    -webkit-transform: var(--rotateTranslate2);
        -ms-transform: var(--rotateTranslate2);
            transform: var(--rotateTranslate2);
}

.menu-btn:hover {
    cursor: pointer;
}

@media (min-width: 576px) { 
    :root {
        --translateX: translateX(50px);
        --transition: transform 0.3s ease-in-out, background-color 0.5s ease-out, top 1s;
    }

    .slide {
        left: unset;
        right: 0;
    }

    aside {
        left: unset;
        right: -230px;
        grid-template-columns: 55px auto;
        padding-left: 10px;
        -webkit-transition: right 0.45s ease-out, opacity 0.4s ease-out;
        -o-transition: right 0.45s ease-out, opacity 0.4s ease-out;
        transition: right 0.45s ease-in-out, opacity 0.4s ease-out;
        z-index: 2;
    }

    aside h3 {
        font-size: 1.25em;
        padding-top: 0.6rem;
    }

    .sticky-div {
        top: 0px;
    }
    

    .menu-btn {
        left: -45px;
        top: 3px;
        z-index: 3;
    }
    
    .fixed {
        position: fixed;
        left: unset;
        right: 10px;
    }

    .menu-btn_burgir,
    .menu-btn_burgir-after,
    .menu-btn_burgir-before {
        background-color: black;
    -webkit-box-shadow: none;
            box-shadow: none;
    }

    .menu-btn.open .menu-btn_burgir-before, 
    .menu-btn.open .menu-btn_burgir-after {
        background-color: white;
    }

    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir-before, 
    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir, 
    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir-after {
        background-color: white;
    }

    .menu-btn.open.fixed .menu-btn_burgir-before, 
    .menu-btn.open.fixed .menu-btn_burgir-after {
        background-color: white;
    }

    .menu-btn.fixed:not(.open) .menu-btn_burgir-before, 
    .menu-btn.fixed:not(.open) .menu-btn_burgir-after {
        background-color: black;
    }

    /* .menu-btn.open .menu-btn_burgir {
        -webkit-transform: var(--rotateTranslate);
            -ms-transform: var(--rotateTranslate);
                transform: var(--rotateTranslate);
    } */
    
    .menu-btn.open .menu-btn_burgir-before {
        -webkit-transform: var(--rotateTranslate);
            -ms-transform: var(--rotateTranslate);
                transform: var(--rotateTranslate);
    }
    
    .menu-btn.open .menu-btn_burgir-after {
        -webkit-transform: var(--rotateTranslate2);
            -ms-transform: var(--rotateTranslate2);
                transform: var(--rotateTranslate2);
    }
}

@media (min-width: 768px)  {
    .menu-btn {
        top: 5px;
    }
 }

@media (min-width: 992px) { 
    .menu-btn {
        display: none;
    }

    aside {
        display: unset;
        position: relative;
        right: unset;
        height: unset;
        margin-right: auto;
        margin-left: 1rem;
        padding-left: 0;
        padding-right: 0;
        width: unset;
        z-index: unset;
        transition: unset;
    -webkit-transition: unset;
    -o-transition: unset;
    opacity: 1;
    background-color: transparent;
    }  

    aside ul {
        position: absolute;
        top: 38px;
        min-width: 165px;
        max-height: 0;
        padding: 0.5rem 1.5rem;
        background-color: var(--transparent);
        opacity: 0;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

    .name-wrapper {
        left: 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.15);
        background-color: white;
        border-radius: 15px;
        padding: 0 5px;
        color: black;
        cursor: pointer;
        user-select: none;
    }

    .name-wrapper h3 {
        width: unset;
        min-width: 100px;
        max-width: 155px;
        text-align: center;
        padding: 0;
    }

    .name-wrapper i {
        display: unset;
        transition: transform 0.1s ease-in;
    }

    .name-wrapper img {
        display: unset;
        margin: 5px 10px 5px 0;
    }

    .name-wrapper:hover *, aside:hover .name-wrapper * {
        color: var(--heroGreen)
    }

    .rotate {
        transform: rotate(180deg);
    }
}

.slide-down {
    opacity: 1;
    max-height: 700px;
}

.no-transitions {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
