:root {
    --transparent: rgba(0, 0, 0, 0.7);
    --translateX: translateX(-50px);
    --rotateTranslate: rotate(45deg) translate(5px, 5px);
    --rotateTranslate2: rotate(-45deg) translate(6px, -6px);
    --transition: transform 0.3s ease-in-out, background-color 0.2s ease-out;
}

aside {
    position: absolute;
    z-index: 2;
    width: 230px;
    left: -230px;
    display: grid;
    grid-template-columns: 65px auto;
    grid-template-rows: 60px auto;
    min-height: 100%;
    color: var(--neutralLight);
    background-color: var(--transparent);
    transition: left 0.3s ease-out;
    pointer-events: all;

}

aside h3 {
    display: block;
    font-size: 1.6em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}

aside #links {
    list-style: none;
    grid-column: 2;
    pointer-events: all;
}

aside a, #logout {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    line-height: 2em;
    font-size: 1.125em;
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
    transition: padding-left 0.1s ease-in-out;
}

aside a:hover, #logout:hover,
aside a:focus, #logout:focus {
    background-color: var(--deepRed);
    padding-left: 30px;
}

aside a:active, #logout:active {
    background-color: var(--brightOrange);
}

#logout {
    cursor: pointer;
}

#name-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 5px 20px;
    background-color: var(--deepTeal);
}

#name-wrapper img {
    width: 1.125rem;
    height: 1.125rem;
    clip-path: circle(50%);
    display: none;
    pointer-events: none;
}

#name-wrapper i {
    display: none;
    font-size: 1.125rem;
    color: black;
    pointer-events: none;
}

.slide {
    left: 0;
    opacity: 1;
}

.abs {
    position: absolute;
    left: unset;
    right: -50px;
    pointer-events: all;
}

.fixed {
    position: fixed;
    right: unset;
    left: 15px;
    pointer-events: none;
}

.sticky {
    position: sticky;
    right: unset;
    left: 15px;
    pointer-events: all;
}

#sticky-div {
    grid-column: 1/span 2;
    position: sticky;
    top: 60px;
    height: fit-content;
    pointer-events: none;

}

.menu-btn {
    top: 14px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: var(--transition);
}

.menu-btn_burgir,
.menu-btn_burgir-before,
.menu-btn_burgir-after {
    z-index: 3;
    width: 30px;
    height: 3px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--darkerBoxShadow);
    transition: var(--transition);
    pointer-events: none;
}

.menu-btn.open .menu-btn_burgir {
    transform: var(--translateX);
    background-color: transparent;
}

.menu-btn.open .menu-btn_burgir-before {
    transform: var(--rotateTranslate);
}

.menu-btn.open .menu-btn_burgir-after {
    transform: var(--rotateTranslate2);
    box-shadow: none;
}

.menu-btn:hover {
    cursor: pointer;
}

@media (min-width: 576px) { 
    :root {
        --translateX: translateX(50px);
        --transition: transform 0.3s ease-in-out, background-color 0.5s ease-out, top 0.75s;
    }

    .slide {
        left: unset;
        right: 0;
    }

    aside {
        left: unset;
        right: -230px;
        grid-template-columns: 55px auto;
        grid-template-rows: 45px auto;
        transition: right 0.45s ease-in-out, opacity 0.4s ease-out;
        z-index: 2;
    }
    #sticky-div {
        top: 45px;
        height: 30px;
        grid-row: 2;
    }
    
    .menu-btn {
        left: -45px;
        top: 7px;
        z-index: 3;
    }
    
    .menu-btn.sticky {
        margin-left: 10px;
    }

    .fixed {
        position: fixed;
        left: unset;
        right: 10px;
    }

    .menu-btn_burgir,
    .menu-btn_burgir-after,
    .menu-btn_burgir-before {
        background-color: black;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn_burgir-before, 
    .menu-btn.open .menu-btn_burgir-after,
    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir-before, 
    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir, 
    .menu-btn.sticky:not(.menu-btn.open) .menu-btn_burgir-after,
    .menu-btn.open.fixed .menu-btn_burgir-before, 
    .menu-btn.open.fixed .menu-btn_burgir-after {
        background-color: white;
    }
    
    .menu-btn.open .menu-btn_burgir-before {
        -webkit-transform: var(--rotateTranslate);
            -ms-transform: var(--rotateTranslate);
                transform: var(--rotateTranslate);
    }
    
    .menu-btn.open .menu-btn_burgir-after {
        -webkit-transform: var(--rotateTranslate2);
            -ms-transform: var(--rotateTranslate2);
                transform: var(--rotateTranslate2);
    }
}

@media (min-width: 992px) { 
    .menu-btn {
        display: none;
    }

    aside {
        display: unset;
        position: relative;
        right: unset;
        width: unset;
        height: 30px;
        min-height: unset;
        margin-right: auto;
        margin-left: 1.5rem;
        padding-left: 0;
        padding-right: 0;
        z-index: unset;
        transition: unset;
        opacity: 1;
        background-color: transparent;
    }  

    aside #links {
        position: absolute;
        top: 40px;
        min-width: 185px;
        max-height: 0;
        padding-top: 0;
        background-color: var(--transparent);
        overflow: hidden;
        transition: max-height 0.1s ease-in;
    }

    aside a, #logout {
        padding-left: 20px;
    }

    aside a:hover, #logout:hover,
    aside a:focus, #logout:focus {
        padding-left: 30px;
    }

    #name-wrapper {
        justify-content: space-around;
        min-width: 185px;
        max-width: 300px;
        height: 30px;
        padding: 0 5px;
        border: var(--border);
        border-color: rgba(0, 0, 0, 0.15);
        background-color: white;
        border-radius: 15px;
        color: black;
        user-select: none;
    }

    aside:hover {
        cursor: pointer;

    }

    aside:hover #name-wrapper {
        box-shadow: var(--boxShadow);
        border-color: rgba(0, 0, 0, 0.05);
    }

    #name-wrapper h3 {
        width: unset;
        min-width: 100px;
        max-width: 250px;
        text-align: center;
        padding: 0 10px;
        flex-shrink: 0;
        font-size: 1.25rem;
    }

    #name-wrapper i {
        display: unset;
        transition: transform 0.1s ease-in;
    }

    #name-wrapper img {
        display: unset;
    }

    .rotate {
        transform: rotate(180deg);
    }
}

aside #links.slide-down {
    max-height: 180px;
}

.no-transitions {
    transition: none;
}
