.success {
    color: var(--navGreen)
}

.unauthorized {
    color: darkred
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.75rem 0.75rem 0;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.infowrap {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    font-size: 1.25rem;
    white-space: nowrap;
}

label ~ label {
    margin-top: 10px;
}

.flexwrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.05);
background-color: white;
border-radius: 3px;
pointer-events: none;
}

.flexwrap p, .flexwrap input {
    width: 100%;
    margin-right: 10px;
    white-space: nowrap;
}

.flexwrap input {
    padding-left: 3px;
    pointer-events: all;
}

.flexwrap span {
    width: 20px;
    height: 20px;
    pointer-events: all;
    cursor: pointer;
}

.flexwrap span:hover {
    color: var(--accentDark);
}

.fdc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.fdc input + input {
    margin-top: 5px;
}

.save_discard_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    gap: 10px;
    pointer-events: none;
}

.save_discard_buttons span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 3px; 
    pointer-events: all;
}

.save_discard_buttons span:hover {
    cursor: pointer;
    background-color: var(--tinymceGray);
}

.save_discard_buttons span:active, .save_discard_buttons span:focus {
    background-color: var(--tinymceGrayActive);
}

.save_discard_buttons span i {
    font-size: 2rem;
}

.save_discard_buttons span p {
    margin-top: 10px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

#response {
    height: 1ch;
    text-align: center;
    margin-top: 30px;
}

.delete {
    margin-top: 30px;
    text-align: center;
}

.delete button {
    padding: 1rem;
    margin-bottom: 150px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
}

@media (min-width: 320px) {}

@media (min-width: 576px) {
    .delete {
        margin-top: 50px;
    }

    .delete button {
    width: 310px;
    margin-bottom: 75px;
    }

    .save_discard_buttons {
        flex-direction: row;
        margin-top: 20px;
    }

    .save_discard_buttons span {
        width: 150px;
        padding: 5px 10px;
    }

}

@media (min-width: 768px) {
    .grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: 20px;
        width: 95%;
        max-width: 1020px;
    }

    .infowrap:nth-of-type(1), .infowrap:nth-of-type(3) {
        grid-column: 1/span 4;
    }
    
    .infowrap:nth-of-type(2), .infowrap:nth-of-type(4) {
        grid-column: 5/span 4;
    }

    .infowrap:nth-of-type(5),  .save_discard_buttons, #response, .delete {
        grid-column: 3/span 4;
    }
}



















/* .auth-form input, .auth-form button, .auth-form a, .auth-form label, .auth-form p, #response {
    font-size: 0.8rem;   
} */
/* 
.form-section input + button {
    margin-left: 8px;
}

.flexwrap  input {
    width: 100%;
}

.flexwrap button {
    margin-top: 5px;
}

.flexwrap-s {
    display: flex;
    align-items: center;
    width: 100%;
}



.centerwrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

#response, #submit {
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 500;
}



button {
    background-color: #EFEFEF; 
    border: solid black 1px;
    padding: 1px 5px;
    border-radius: 2px;
    white-space: nowrap;
}



.no-click {
    filter: brightness(0.6);
    cursor: not-allowed;
}

a {
    color: white;
}

p {
    font-weight: 300;
    text-align: center;
}

p > a {
    color: black;
    text-decoration: underline;
}

.question {
    text-align: justify;
}

input[type="radio"] {
    width: unset;
}

#delete label {
    margin-right: 3px;
    width: unset;
}

#delete label ~ label {
    margin-left: 2em;
}

#delete p {
    padding: 0 0 20px;
}

#delete .flexwrap {
    flex-direction: row;
    align-items: center;
}

#delete label, #delete input {
    margin-top: unset;
}

#delete .flexwrap, #delete button {
    margin-bottom: 20px;
} 

@media (min-width: 576px) {
    .auth-form, .auth-form___header {
        width: 70%;
        max-width: 700px;
        margin: auto;
    }

    .flexwrap {
        align-items: center;
        flex-direction: row;
    }
    
    label {
        width: 150px;
        text-align: right;
        flex-shrink: 0;
    }

    .flexwrap button {
        margin: 0;
    }

    .flexwrap p, .flexwrap-s p {
        width: 100%;
        text-align: left;
    }

    .fdc {
        flex-direction: row;
    }

    
} */