.success {
    color: var(--deepTeal)
}

.unauthorized {
    color: darkred
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.gridwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: min(10%, 50px);
}

.gridwrap.r {
    margin-bottom: 8rem;
}

.gridwrap .fdc p {
    width: 22ch;
    line-height: 1.25rem;
    text-align: center;
}

.grid, .grid.login, 
.grid.register {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.grid {
    padding: 0.75rem 0.75rem 10rem;
}

.grid.login, 
.grid.register {
    padding: 0.75rem;
    border: var(--border);
    box-shadow: var(--boxShadow);
    border-radius: 3px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
}

.infowrap {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.infowrap:nth-of-type(1) {
    margin-top: 20px;
}

.infowrap label {
    padding-left: 5px;
    font-size: 1.25rem;
    white-space: nowrap;
}

.infowrap button i {
    pointer-events: none;
}

.grid.login .infowrap, 
.grid.register .infowrap {
    margin-top: 0;
}

.grid.register .infowrap button,
.grid.login .infowrap button {
    padding: 0 5px;
    align-self: center;
    border: var(--border);
    border-color: var(--tinymceGrayActive);
    height: 30px;
    width: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.flexwrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 5px 0 15px;
    border: var(--border);
    box-shadow: var(--boxShadow);
    background-color: white;
border-radius: 3px;
pointer-events: none;
}

.flexwrap.p {
    padding: 0;
    border: none;
    box-shadow: none;
}

.grid.login .infowrap .flexwrap, 
.grid.register .infowrap .flexwrap {
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: white;
}

.grid.login .infowrap .flexwrap input, 
.grid.register .infowrap .flexwrap input {
    margin-right: 0;
    border: 1px solid var(--tinymceGrayActive);
    padding: 5px;
    border-radius: 3px;
    height: 30px;
}

.grid.login .infowrap .flexwrap input.brn, 
.grid.register .infowrap .flexwrap input.brn {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.grid.login .infowrap .flexwrap input:active, 
.grid.register .infowrap .flexwrap input:active,
.grid.login .infowrap .flexwrap input:focus, 
.grid.register .infowrap .flexwrap input:focus {
    outline: none;
}

.flexwrap p, 
.flexwrap input {
    width: 100%;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flexwrap input {
    padding-left: 5px;
    pointer-events: all;
}

.flexwrap button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    color: var(--deepTeal);
    font-size: 1rem;
    pointer-events: all;
    cursor: pointer;
}

.flexwrap button:hover,  
.flexwrap button:focus {
    color: var(--deepRed);
    outline: none;
}

.flexwrap button:active {
    color: var(--brightOrange)
}

.grid.login .fdc, 
.grid.register .fdc {
    margin: 0;    
    align-items: center;
}

.grid.login .fdc #submit, 
.grid.register .fdc #submit {
    padding: 0.5rem 1rem;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: var(--deepRed);
    color: white;
    font-size: 1.125rem;
}

.grid.login .fdc #submit:hover, 
.grid.register .fdc #submit:hover,
.grid.login .fdc #submit:focus, 
.grid.register .fdc #submit:focus {
    box-shadow: var(--boxShadow);
    outline: none;
}

.grid.login a, 
.grid.register a, 
.grid.login a:link, 
.grid.register a:link, 
.grid.login a:visited, 
.grid.register a:visited {
    color: initial;
}

.fdc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.center-h {
    align-self: center;
}

.center-h p {
    pointer-events: none;
    margin-right: unset;
}

.fdc input + input {
    margin-top: 5px;
}

.fdc button.center-h {
    width: unset;
    height: unset;
    padding: 0.5rem 1rem;
    background-color: var(--deepTeal);
    border-radius: 3px;
    color: white;
}

.fdc button.center-h:hover,
.fdc button.center-h:focus {
    background-color: var(--deepRed);
}

.fdc button.center-h:active {
    background-color: var(--brightOrange);
}

.save_discard_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    padding: 5px;
    width: 260px;
    border: var(--border);
    border-radius: 3px;
    box-shadow: var(--boxShadow);
    background-color: white;
}

.save_discard_buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 110px;
    border: var(--border);
    background-color: var(--neutralLight);
    color: var(--deepTeal);
    border-radius: 3px;
    pointer-events: all
}

.save_discard_buttons button:hover {
    background-color: var(--deepTeal);
    color: white;    
    cursor: pointer;
}

.save_discard_buttons button:active, 
.save_discard_buttons button:focus {
    background-color: var(--deepRed);
    outline: none;
}

.save_discard_buttons button i {
    font-size: 2rem;
    pointer-events: none;
}

.save_discard_buttons button p {
    padding-top: 5px;
    white-space: nowrap;
    font-size: 0.85em;
    pointer-events: none;
    user-select: none;
}

#response {
    height: 3ch;
    text-align: center;
    margin: 15px 0;
}

.grid.login #response, 
.grid.register #response {
    margin: 0;
    height: unset;
}

.delete-button {
    display: flex;
    margin: 30px auto;
    width: 100%;
    height: 50px;
    max-width: 350px;
    box-shadow: var(--boxShadow);
    border-radius: 3px;
    text-align: center;
    scroll-behavior: smooth;
    overflow: hidden;
    pointer-events: none;
}

#db, #q {
    height: 100%;
    flex-shrink: 0;
}

#db, #cancel, #proceed, #back, .inpwrap, #confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

#db, #cancel, #proceed, #back, #confirm {
    color: white;
    border: none;
}

#db {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--deepTeal);
    font-size: 1.5rem;
}

#db p, #back i {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

#cancel, #proceed, #back, #confirm {
    font-size: 1rem;
    flex-shrink: 0;
    background-color: var(--deepTeal);
}

#cancel, #proceed {
    width: 20%;
}

#back {
    width: 10%;
}

#confirm {
    width: 25%
}

#q, .inpwrap {
    padding: 0.25rem;
    flex-shrink: 0;
}

#q {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    background-color: white;
}

#delpassword {
    font-size: 0.65rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inpwrap {
    width: 65%;
    flex-direction: column;
    background-color: white;
}

#delpassword {
    width: 100%;
    padding: 0.1rem;
}

#delresponse {
    text-align: center;
}

#db:hover, 
#cancel:hover, 
#proceed:hover, 
#back:hover, 
#confirm:hover, 
.grid.login .fdc #submit:hover, 
.grid.register .fdc #submit:hover {
    cursor: pointer;
}

#db:hover, #db:focus {
    background-color: var(--deepRed);
    color: white;
    outline: none;
}

#db:active {
    background-color: var(--brightOrange);
}

#cancel:hover, 
#proceed:hover, 
#back:hover, 
#confirm:hover, 
.grid.login .fdc #submit:hover, 
.grid.register .fdc #submit:hover,
.grid.login .fdc #submit:focus, 
.grid.register .fdc #submit:focus,
#cancel:focus, 
#proceed:focus, 
#back:focus, 
#confirm:focus {
    background-color: var(--deepRed);
    outline: none;
}

#cancel:active, 
#proceed:active,
#back:active, 
#confirm:active, 
.grid.login .fdc #submit:active, 
.grid.register .fdc #submit:active {
    background-color: var(--brightOrange);
}

@media (min-width: 320px) {
    #q {
        font-size: 0.8rem;
    }

    #cancel, #proceed, #back, #confirm {
        font-size: 1.25rem;
    }
}

@media (min-width: 360px) {
    .gridwrap .fdc p {
        width: unset;
        line-height: unset;
        text-align: unset;
    }
    
}

@media (min-width: 576px) {
    #q {
        font-size: 1rem;

    }

    #delpassword {
        font-size: 0.9rem;
    }
    
    .grid {
        padding: 0.75rem 0.75rem 4rem;
    }

    .grid.login .fdc #submit, 
    .grid.register .fdc #submit {
        padding: 0.5rem 1rem;
    }

    .delete-button {
        margin: 10px auto 30px;
    }

    .save_discard_buttons {
        flex-direction: row;
        margin-top: 20px;
        width: 350px;
    }

    .save_discard_buttons button {
        width: 150px;
        padding: 15px 10px;
    }

    .save_discard_buttons button p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    /* #q {
        font-size: 0.9rem;
    } */

    .grid, 
    .grid.register {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        column-gap: 20px;
        width: 95%;
        max-width: 1020px;
    }

    .grid.login .infowrap:nth-of-type(1), 
    .grid.login .infowrap:nth-of-type(2), 
    .grid.login #response,  
    .grid.login .centerwrap {
        grid-column: 1/span 1;
    }

    .infowrap:nth-of-type(1), 
    .infowrap:nth-of-type(3),
    .grid.register .infowrap:nth-of-type(5) {
        grid-column: 1/span 4;
    }
    
    .infowrap:nth-of-type(2), 
    .infowrap:nth-of-type(4), 
    .grid.register .infowrap:nth-of-type(6) {
        grid-column: 5/span 4;
    }

    .infowrap:nth-of-type(2) {
        margin-top: 20px;
    }

    .infowrap:nth-of-type(5), .save_discard_buttons,
    #response, #delresponse, .delete-button, .grid.register .fdc {
        grid-column: 3/span 4;
    }
}

@media (min-width: 992px) {
    /* #q {
        font-size: 1rem;
    }
     */
}