.three-two-grid {
    display: grid;
    grid-template-columns: minmax(0,3fr) minmax(0, 2fr);
    gap: 10px;
    margin-top: 10px;
}

.four-one-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 10px;
}

.textarea-wrapper {
    font-size: 1.125rem;
    position: relative;
    grid-column: 1/span 1;
}

.textarea-wrapper ~ .textarea-wrapper {
    margin-top: 10px;
}

.extra-options {
    position: absolute;
    right: 5px;
    top: 25px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 2;
}

.extra-options select {
    margin-right: 0.5rem;
}

.extra-options button, 
.extra-options select {
    pointer-events: all;
}

.extra-options button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    background-color: transparent;
}

.extra-options button:hover, 
#add_delete_q_buttons button:hover {
    background-color: var(--tinymceGray);
    cursor: pointer;
}

.extra-options select:hover {
    cursor: pointer;
}

.extra-options button:active, 
.extra-options button:focus, 
#add_delete_q_buttons button:active, 
#add_delete_q_buttons button:focus {
    background-color: var(--tinymceGrayActive);
    outline: none;
}

.extra-options button i {
    pointer-events: none;
} 

.exercise_requirements {
    grid-row: 1/span 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    font-size: 0.65em;
    width: 100%;
    height: 100%;
}

.to_publish_exercise_sd {
    position: sticky;
    top: 0;
}

.to_publish_add_question {
    position: sticky;
    top: 0;
    margin-top: 24px;
    height: fit-content;
    height: -moz-fit-content;
}

#add_delete_q_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    padding: 5px; 
    width: 100%;
    background-color: white;
    border: var(--tinymceBorder);
}

#add_all, #discard_all_slider {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 200px;
    height: 60px;
    border: var(--border);
    border-radius: 3px;
}

#add_all {
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

#discard_all_slider {
    border: var(--border);
    overflow: hidden;
    pointer-events: none;
    scroll-behavior: smooth;
}

#d_a1 {
    padding: 5px;
    border: none;

}

#d_a1, #d_a2 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

#d_a1 {
    pointer-events: all;
}

#d_a2 {
    display: grid;
    grid-template-columns: 25px 100px 75px;
    grid-template-rows: 32px auto; 
}

#d_a2 button:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#d_a2 :nth-child(1) {
    grid-column: 1/span 3;
    justify-self: center;
    align-self: center;
    font-size: 0.85rem;
}

.flash {
    animation: color-in-out 600ms ease-in-out;
}

@keyframes color-in-out {
    0%, 50%, 100% {
        color: black;
    }
    25%, 75% {
        color: var(--brightOrange);
    }
}

#d_a2 :nth-child(2) {
    grid-column: 1;
}

#d_a2 :nth-child(3) {
    grid-column: 2;
}

#d_a2 :nth-child(4) {
    grid-column: 3;
}

#add_all i, #d_a1 i {
    font-size: 1.5rem;
    pointer-events: none;
}

#discard_btn_back, 
#discard_confirm,
#discard_all {
    pointer-events: all;
}

#discard_btn_back,
#discard_all {
    border: none;
}

#discard_btn_back i {
    pointer-events: none;
}

#discard_confirm {
    border: none;
    border-top: 1px solid #e9e9ed;
    text-align: center;
}

#discard_confirm:hover,
#discard_confirm:focus {
    outline: none;
}

#add_delete_q_buttons i + p {
    margin-top: 5px;
    font-size: 0.85rem;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    pointer-events: none;
}

#problem_set {
    display: grid;
    gap: 10px;
    height: fit-content;
    height: -moz-fit-content;
}


#problem_set section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    padding: 1rem;
    background-color: white;
    border: var(--tinymceBorder);
}


#problem_set section ul {
    padding-top: 1rem;
    height: auto;
    transition: height 100ms ease-in-out;
    overflow: hidden;
}

#correct_answer_section, 
#question_section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: var(--tinymceBorder);
    /* border-top: none; */
}

#question_choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: var(--tinymceBorder);
    /* border-top: none; */
}

#question_choices > ul{
    width: 100%;
    list-style: none;
    text-decoration: none;
}

#correct_answer_section > li, 
#question_section > li {
    width: 50%;
    list-style: none;
    text-decoration: none;
}

#problem_set li, 
#question_choices li, 
#correct_answer_section li, 
#question_section li {
    display: flex;
    align-items: center;
    border: var(--border);
    color: var(--deepTeal);
    box-shadow: var(--boxShadow);
    pointer-events: none;
}

#question_choices li, 
#correct_answer_section li, 
#question_section li {
    padding: 10px;
    gap: 1rem;
}

#problem_set li {
    padding: 5px 10px;
}

#problem_set li span {
    margin-right: 0.75rem;
}


#problem_set li + li {
    margin-top: 10px;
}

#question_choices li > :first-child,
#problem_set li > :nth-child(2), 
#correct_answer_section li > :nth-child(1), 
#question_section li > :nth-child(1) {
    margin-right: auto;
}

#question_choices li > button, 
#problem_set li > button, 
#correct_answer_section li > button, 
#question_section li > button {
    border: none;
    background-color: transparent;
    color: var(--deepTeal);
    font-size: 1rem;
    pointer-events: all;
}

#problem_set li > button {
    width: 34px;
    height: 34px;
    border-radius: 3px;
}


#question_choices li > button i, 
#problem_set li > button i, 
#correct_answer_section li > button i, 
#question_section li > button i {
    pointer-events: none;
}

#question_choices button:hover, 
#correct_answer_section button:hover, 
#question_section button:hover,
#question_choices button:focus, 
#correct_answer_section button:focus, 
#question_section button:focus  {
    color: var(--deepRed);
    cursor: pointer;
}

#problem_set button:hover, 
#problem_set button:focus {
    cursor: pointer;
}

#question_choices button:active, 
#correct_answer_section button:active, 
#question_section button:active  {
    color: var(--brightOrange);
}

#no_problems_yet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: var(--tinymceBorder);
    background-color: white;
}

#problem_set .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 5px;
}

#problem_set .header h4 {
    font-size: 1.125rem;
}

#problem_set .header button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: white;
}

#problem_set .header button i {
    pointer-events: none;
}

#problem_set .header button:hover,
#problem_set .header button:focus {
    border: var(--border);
    background-color: var(--tinymceGray);
}

#problem_set .header button:active {
    border: var(--border);
    background-color: var(--tinymceGrayActive);
}

#problem_set li.editing, 
#question_choices li.editing, 
#correct_answer_section li.editing, 
#question_section li.editing {
    background-color: var(--deepTeal);
    color: white;
}

#problem_set li.editing button, 
#question_choices li.editing button, 
#correct_answer_section li.editing button, 
#question_section li.editing button {
    color: white;
}

#problem_set li.editing button:hover, 
#question_choices li.editing button:hover, 
#correct_answer_section li.editing button:hover, 
#question_section li.editing button:hover,
#problem_set li.editing button:focus, 
#question_choices li.editing button:focus, 
#correct_answer_section li.editing button:focus, 
#question_section li.editing button:focus {
    color: var(--tinymceGray);
}

#problem_set li.editing button:active, 
#question_choices li.editing button:active, 
#correct_answer_section li.editing button:active, 
#question_section li.editing button:active {
    color: var(--tinymceGrayActive);
}

#question_section.pop-top, 
#correct_answer_section.pop-top, 
#question_choices.pop-top {
    border-top: none;
}

#problem_set li.satisfied, #problem_set li.satisfied button {
    color: var(--deepTeal);
}

#problem_set li.not_met, #problem_set li.not_met button {
    color: darkred;
}

#problem_set li.not_met button:hover,
#problem_set li.not_met button:focus {
    background-color: var(--tinymceGray);
}

#problem_set li.not_met button:active {
    background-color: var(--tinymceGrayActive);
}