.create-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.too-small {
    margin: 1rem;
    justify-content: center;
}

footer {
    display: none;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    font-size: 1.125rem;
}

.flex-wrapper label {
    text-align: right;
    flex-shrink: 0;
    width: 4.25ch;
    padding-right: 5px;
}

.flex-wrapper input {
    height: 2em;
    width: 100%;
    font-size: 0.8em;
    padding: 0 5px;
    display: inline-block;
    border: 1px solid #ccc;
}

.flex-wrapper p {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 0 5px;
}

.flex-wrapper ~ .flex-wrapper {
    margin-top: 5px;
}

.textarea-wrapper {
    position: relative;
}

.textarea-wrapper ~ .textarea-wrapper {
    margin-top: 10px;
}

.textarea-wrapper label {
    margin-left: 3px;
}

.tags-wrapper {
    padding: 5px 0 10px 45.74px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 700px;
    border: 1.5px solid black;
    border-radius: 2px;
    padding: 0.125em 0.1em;
    list-style: none;
}

#tags button {
    display: flex;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    gap: 5px;
    padding: 0 0.5em;
    margin: 0.125em;
    border: none;
    background-color: var(--accent);
    font-size: 0.75em;
}

#tags button:hover, #tags button:focus{
    background-color: var(--tinymceGray);
    cursor: pointer; 
}

#tags button:active {
    background-color: var(--tinymceGrayActive);
}

#tags button span:nth-of-type(2) {
    position: relative;
    padding: 0.125em;
    z-index: 2;
    background: transparent;
    border: none;
}

.publish_save_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    padding: 5px; 
    width: 100%;
    background-color: white;
    border: 1px solid var(--tinymceGray);
}

.publish_save_buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 90px;
    border: var(--border);
    border-radius: 3px;
    pointer-events: all;
}

.publish_save_buttons i {
    font-size: 2rem;
    pointer-events: none;
}

.publish_save_buttons p {
    padding-top: 5px;
    white-space: nowrap;
    font-size: 0.85em;
    pointer-events: none;
}

.publish_save_buttons button:not(.no-click):hover {
    background-color: var(--tinymceGray);
    cursor: pointer;
}

.publish_save_buttons button:active, 
.publish_save_buttons button:focus {
    background-color: var(--tinymceGrayActive);
}

.no-click {
    background-color: var(--tinymceGrayActive);
    cursor: not-allowed;
}

@media screen and (min-width: 630px) and (min-height: 500px) {
    .too-small {
        display: none;
    }

    .create-wrapper {
        display: block;
    }
}

@media screen and (max-width: 630px), (max-height: 500px) {
    .too-small {
        display: flex;
    }

    .create-wrapper {
        display: none;
    }
}
