.buttons-wrapper {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    font-size: 0.65em;
}

.tox-statusbar__wordcount {
    pointer-events: none !important;
}

.need-more {
    color: darkred !important;
}

.limit-met {
    color: var(--deepTeal) !important;
}

.tox-tinymce:not(.tox-fullscreen) {
    height: 100% !important;
}