@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

.tox-statusbar__resize-handle {
    display: none !important;
}

.tox-tbtn:hover {
    cursor: pointer;
}

.create-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.too-small {
    margin: 1rem;
    justify-content: center;
}

footer {
    display: none;
}

.tts-grid {
    display: grid;
    grid-template-columns: minmax(auto, 600px) 375px;
    gap: 0.5rem;
}

.tts-grid > :nth-child(1),
.tts-grid > :nth-child(2) {
    grid-column: 1;
}

.tts-grid > :nth-child(3) {
    grid-column: 1/span 2;
}

.tts-grid > :nth-child(4) {
    grid-column: 2;
    grid-row: 1;
}

.tts-grid > :nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 100%;
    max-width: 600px;
}

.flex-wrapper label {
    font-size: 1.25rem;
}

.flex-wrapper input {
    height: 30px;
    width: 100%;
    padding-left: 10px;
    display: inline-block;
    border: var(--tinymceBorder);
    border-radius: 3px;
    outline: none;
}

.flex-wrapper p {
    font-size: 0.9rem;
    white-space: nowrap;
}

.flex-wrapper select {
    width: 180px;
    height: 30px;
    padding-left: 5px;
    padding-right: 1.5rem;
    border: var(--tinymceBorder);
    border-radius: 3px;
    outline: none;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select_wrapper {
    position: relative;
}

.select_wrapper::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 11px;
    border: 6px solid;
    border-color: var(--neutralDark) transparent transparent transparent;
    pointer-events: none;
}

.flex-wrapper select:hover {
    cursor: pointer;
}

.tags-wrapper {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0.125em 0.1em;
    border: var(--tinymceBorder);
    background-color: white;
    list-style: none;
}

#tags button {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 0 0.5em;
    margin: 0.125em;
    border: none;
    background-color: var(--deepTeal);
    color: white;
    font-size: 0.85rem;
}

#tags button span {
    pointer-events: none;
}

#tags button:hover, #tags button:focus{
    background-color: var(--tinymceGray);
    color: black;
    cursor: pointer; 
}

#tags button:active {
    background-color: var(--tinymceGrayActive);
}

#tags button span:nth-of-type(2) {
    position: relative;
    padding: 0.125em;
    z-index: 2;
    background: transparent;
    border: none;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    display: flex;
    align-items: center;
    margin: 10px auto auto;
    width: 100%;
    height: 90px;
    border: var(--tinymceBorder);
    overflow: hidden;
    scroll-behavior: smooth;
    pointer-events: none;
}

.publish_save_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px; 
    width: 100%;
    height: 90px;
    background-color: white;
}

.publish_save_buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 125px;
    border: var(--border);
    border-radius: 3px;
    pointer-events: all;
}

#publish.no-click {
    background-color: var(--tinymceGrayActive);
    pointer-events: none;
}

#publish-btn-wrapper.no-click {
    cursor: not-allowed;
    pointer-events: all;
}

.publish_save_buttons i {
    font-size: 2rem;
}

.publish_save_buttons p {
    padding-top: 5px;
    white-space: nowrap;
    font-size: 0.85rem;
    pointer-events: none;
}

.publish_save_buttons button:not(.no-click):hover {
    background-color: var(--tinymceGray);
    cursor: pointer;
}

.publish_save_buttons button:active, 
.publish_save_buttons button:focus {
    background-color: var(--tinymceGrayActive);
}

#feedback {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 90px;
    background-color: white;
    font-size: 1rem;
}

#feedback.satisfied {
    color: var(--deepTeal);
}

#feedback.not_met {
    color: darkred;
}

.to_publish_reqs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    width: 100%;
    height: fit-content;
    padding: 0.75rem;
    background-color: white;
    border: var(--tinymceBorder);
}

.to_publish_reqs > * {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.to_publish_reqs h4 {
    font-size: 1.125rem;
    white-space: nowrap;
    padding-bottom: 10px;
    text-align: center;
}

.to_publish_reqs li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
    padding: 5px 10px 10px 10px;
    font-size: 0.85rem;   
}

.to_publish_reqs li:last-of-type {
    border: none;
    padding-bottom: 5px;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    max-width: 992px;
    max-height: 300px;
    margin: auto;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.add_img {
    height: fit-content;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding: 1rem;
    border: var(--tinymceBorder);
    background-color: white;
}

.add_img label, #get_img_tag {
    height: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.add_img label {
    background-color: var(--deepRed);
    grid-column: 1/span 3;
}

#img_prev {
    height: 44px;
    border-radius: 3px;
}

#get_img_tag {
    height: 44px;
    position: relative;
    background-color: var(--deepTeal);
    grid-column: 2/span 2;
    border: none;
}

#get_img_tag::before {
    content: "";
    position: absolute;
    top: calc(100% - 4.5px);
    left: 50%;
    margin-left: -10px;
    border: 10px solid;
    border-color: transparent transparent black transparent;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out 0.1s;
}

#get_img_tag::after {
    content: attr(data-text);
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 13px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out 0.1s;
}

#get_img_tag:hover::after,
#get_img_tag:focus::after,
#get_img_tag:hover::before,
#get_img_tag:focus::before {
    visibility: visible;
    opacity: 1;
}

.add_img input {
    display: none;
}

.add_img label:hover,
.add_img label:focus {
    background-color: var(--brightOrange);
    cursor: pointer;
}

#get_img_tag:hover,
#get_img_tag:focus {
    background-color: var(--brightTeal);
    cursor: pointer;
}

.add_img span {
    place-self: center;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.satisfied {
    color: var(--deepTeal);
}

.not_met {
    color: darkred;
}


@media screen and (min-width: 768px) and (min-height: 500px) {
    .too-small {
        display: none;
    }

    .create-wrapper {
        visibility: visible;
    }
}

@media screen and (max-width: 767px), (max-height: 500px) {
    .too-small {
        display: flex;
    }

    .create-wrapper {
        visibility: hidden;
    }
}
