.tox-statusbar__resize-handle {
    display: none !important;
}

.tox-tbtn:hover {
    cursor: pointer;
}

.create-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.three-one-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}

.too-small {
    margin: 1rem;
    justify-content: center;
}

footer {
    display: none;
}

.tts-grid {
    display: grid;
    grid-template-columns: minmax(auto, 600px) 1fr;
    gap: 0.5rem;
}

.tts-grid :nth-child(1),
.tts-grid :nth-child(2),
.tts-grid :nth-child(3) {
    grid-column: 1;
}

.tts-grid :nth-child(4) {
    grid-column: 2;
    grid-row: 1;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 100%;
    max-width: 600px;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    width: 100%;
    font-size: 1.125rem;
}

.flex-wrapper input {
    height: 30px;
    width: 100%;
    font-size: 0.85em;
    padding-left: 5px;
    display: inline-block;
    border: var(--tinymceBorder);
}

.flex-wrapper p {
    font-size: 0.9rem;
    white-space: nowrap;
}

.flex-wrapper select {
    margin: 5px 0;
    width: 170px;
}

.tags-wrapper {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
}

.textarea-wrapper {
    font-size: 1.125rem;
    position: relative;
    grid-column: 1/span 1;
}

.textarea-wrapper ~ .textarea-wrapper {
    margin-top: 10px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 600px;
    padding: 0.125em 0.1em;
    border: var(--tinymceBorder);
    background-color: white;
    list-style: none;
}

#tags button {
    display: flex;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    gap: 5px;
    padding: 0 0.5em;
    margin: 0.125em;
    border: none;
    background-color: var(--brightOrange);
    color: white;
    font-size: 0.85em;
}

#tags button span {
    pointer-events: none;
}

#tags button:hover, #tags button:focus{
    background-color: var(--tinymceGray);
    color: black;
    cursor: pointer; 
}

#tags button:active {
    background-color: var(--tinymceGrayActive);
}

#tags button span:nth-of-type(2) {
    position: relative;
    padding: 0.125em;
    z-index: 2;
    background: transparent;
    border: none;
}

.publish_save_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    padding: 5px; 
    width: 100%;
    background-color: white;
    border: var(--tinymceBorder);
}

.publish_save_buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 125px;
    border: var(--border);
    border-radius: 3px;
    pointer-events: all;
}

.publish_save_buttons i {
    font-size: 2rem;
    pointer-events: none;
}

.publish_save_buttons p {
    padding-top: 5px;
    white-space: nowrap;
    font-size: 0.85rem;
    pointer-events: none;
}

.publish_save_buttons button:not(.no-click):hover {
    background-color: var(--tinymceGray);
    cursor: pointer;
}

.publish_save_buttons button:active, 
.publish_save_buttons button:focus {
    background-color: var(--tinymceGrayActive);
}

.to_publish_reqs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    padding: 0.75rem;
    background-color: white;
    border: var(--tinymceBorder);
}

.to_publish_reqs > * {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.to_publish_reqs h4 {
    font-size: 1.125rem;
    white-space: nowrap;
    padding-bottom: 10px;
    text-align: center;
}

.to_publish_reqs li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
    padding: 5px 10px 10px 10px;
    font-size: 0.85rem;   
}

.to_publish_reqs li:last-of-type {
    border: none;
    padding-bottom: 5px;
}

.satisfied {
    color: var(--deepTeal);
}

.not_met {
    color: darkred;
}

.no-click {
    background-color: var(--tinymceGrayActive);
    cursor: not-allowed;
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    .too-small {
        display: none;
    }

    .create-wrapper {
        display: block;
    }
}

@media screen and (max-width: 768px), (max-height: 500px) {
    .too-small {
        display: flex;
    }

    .create-wrapper {
        display: none;
    }
}
