#drafts___section h3 {
    font-size: 1.5em;
}

#nothing-here {
    display: inherit;
    gap: 20px;
}

#nothing-here a {
    padding: 20px;
    border: var(--border);
    background-color: white;
    color: var(--deepTeal);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

#nothing-here a:hover,
#nothing-here a:focus {
    color: var(--deepRed)
}

#drafts___section {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
    padding: 2rem 1rem 5rem;
    margin: auto;
    width: fit-content;
    min-height: calc(100vh - 200px);
}

#drafts___section.unset-grid {
    display: block;
}

#drafts___lessons, 
#drafts___exercises {
    display: grid;
    place-self: center;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease-out;
}

#drafts___section li {
    display: flex;
    align-items: center;
    border: var(--border);
    border-radius: 3px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    height: 50px;
    box-shadow: var(--boxShadow);
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    scroll-behavior: smooth;
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

#drafts___section li.fade_out,
#drafts___section ul.fade_out {
    opacity: 0;
}

#drafts___section li button {
    pointer-events: all;
}

#drafts___section li .front,
#drafts___section li .back {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

#drafts___section li .front {
    padding: 10px 20px 10px 10px;
}

#drafts___section li .front > :first-child {
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#drafts___section li .front > :nth-child(2),
#drafts___section li .front > :nth-child(3) {
    margin-left: 1rem;
    pointer-events: all;
}

#drafts___section li .back button {
    background-color: var(--deepTeal);
    color: white;
    font-size: 1rem;
    border:none;
}

#drafts___section li .back button:nth-of-type(1) {
    width: 20%;

}

#drafts___section li .back input {
    width: 50%;
    margin: 15px 0.5rem;
}

#drafts___section li .back input.flash {
    animation: color-in-out 600ms ease-in-out;
}

#drafts___section li .back input.flash::placeholder {
    opacity: 1;
}


@keyframes color-in-out {
    0%, 50% {
        color: var(--deepRed);
    }
    25%, 75% {
        color: var(--tinymceGrayActive);
    }
    100% {
        color: #767676;
    }
}


#drafts___section li .back button:nth-of-type(2) {
    width: 30%
}

#drafts___section li .front button {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--deepTeal);
}

#drafts___section input {
    pointer-events: all;
}

#drafts___section li .front button:hover, 
#drafts___section li .front button:focus {
    color: var(--deepRed);
    cursor: pointer;
}

#drafts___section li .front button:active {
    color: var(--brightOrange);
}

#drafts___section li .back button:hover, 
#drafts___section li .back button:focus {
    background-color: var(--deepRed);
    cursor: pointer;
}

#drafts___section li .back button:active {
    background-color: var(--brightOrange);
}

.not_met {
    color: darkred;
}

@media (min-width: 576px) {
    #drafts___lessons, 
    #drafts___exercises {
        width: 500px;
    }
    
}

@media (min-width: 1200px) {
    #drafts___section {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: unset;
        column-gap: 20px;
    }

    #drafts___lessons, 
    #drafts___exercises {
        place-self: flex-start;
    }

    #drafts___lessons {
        margin-left: auto;
    } 

}