#comment {
    padding: 1rem 10px;
    min-height: calc(100vh - 215px);
}

#not_found {
    text-align: center;
    font-size: 18px;

}

#found {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 576px;
    margin: auto;
    padding: 1rem 10px;
}

#found div[data-id] {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 576px;
    min-height: 150px;
    margin: auto;
    border-radius: 5px;
    border: var(--border);
    background-color: white;
    color: var(--neutralDark);
    box-shadow: var(--boxShadow);
    scroll-behavior: smooth;
    overflow: hidden;
}

#comment button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.front {
    justify-content: space-between;
}

.reply.taller {
    height: 140px;
    max-height: 140px;
	transition: opacity 0.3s linear 0.8s, max-height 0.4s linear 1s, margin-top 0.4s linear 1s;

}

.reply.taller .flex {
    margin: auto 10px
}

.reply .larger {
    padding: 10px 10px 0 10px;
}

.reply .sub {
    padding: 0 10px 10px;
}

.reply.center {
    max-height: 0;
    justify-content: center;
    align-items: center;
    color: var(--deepRed);
    opacity: 0;
}

.reply:first-of-type.center + .reply {
    margin-top: 0;
}

@media (min-width: 320px) {
    #comment {
        padding: 2rem 1rem 1rem;
        min-height: calc(100vh - 195px);
    }
}