@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

.primary {
    position: relative;
    width: 100%;
    height: calc(100vh - 95px);
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deepTeal);
    font-size: clamp(1.375rem, 5vw, 3rem);
}

.primary h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    color: var(--neutralLight);
    font-family: "Aleo", 'Times New Roman', Times, serif;
    user-select: none;
}

.primary___header {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.msg.home {
    font-size: 1rem;
}

#scroll {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin: 5rem auto 0;
    border: none;
    background-color: transparent;
    animation: bounce 1s ease-in-out infinite;
}

#scroll .left,
#scroll .right {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 4px;
    background-color: white;
    box-shadow: var(--darkerBoxShadow);
}

#scroll .left {
    left: 15.5%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transform: rotate(45deg);
}

#scroll .right {
    left: 42%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(-45deg);
}

#scroll::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#scroll:hover {
    cursor: pointer;
}

#scroll:hover::before,
#scroll:focus::before {
    background-color: rgba(0, 0, 0, 0.25);
}

#scroll:active::before {
    background-color: rgba(0, 0, 0, 0.5);
}

#info {
    grid-template-columns: minmax(0, 300px);
    place-content: center;
    padding: 2rem 1rem 3rem;
    display: grid;
    gap: 2rem;
    max-width: 992px;
    margin: auto;
}

#info h3 {
    position: relative;
    width: fit-content;
    font-family: "Aleo", 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: var(--neutralDark);
}


#info h3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--neutralMid);
}

#info .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    background-color: white;
    z-index: -1;
}

#info .card p {
    color: var(--neutralDark);
    line-height: 1.5rem;
}

#info .card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#info .img_wrap {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

#info .img_wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
}

#info div:first-of-type .img_wrap::after {
    background-color: var(--tinymceGrayActive);
}


#info div:nth-of-type(2) .img_wrap::after {
    background-color: #e5583280;
}

#info div:nth-of-type(3) .img_wrap::after {
    background-color: #01a5ad80;
}



#info img {
    width: 100%;
    height: 100%;
}

@media (min-width: 320px) {
    .primary {
        height: calc(100vh - 55px);
    }
}

@media (min-width: 576px) {
    .primary {
        height: calc(100vh - 50px);
        font-size: 2em;
    }
    
    .msg.home {
        font-size: 1.125rem;
    }

    #info {
        grid-template-columns: repeat(4, minmax(0, 1fr));;
    }

    #info .card {
        gap: 2rem;
        padding: 2rem;
    }

    #info .card:first-of-type {
        grid-row: 1;
        grid-column: 1/span 2;
    }

    #info .card:nth-of-type(2) {
        grid-row: 1;
        grid-column: 3/span 2;
    }

    #info .card:nth-of-type(3) {
        grid-row: 2;
        grid-column: 2/span 2;
    }
}

@media (min-width: 768px) {
    #info {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    #info .card:first-of-type {
        grid-column: 1;
    }

    #info .card:nth-of-type(2) {
        grid-column: 2;
    }

    #info .card:nth-of-type(3) {
        grid-row: 1;
        grid-column: 3;
    }
}

@media (min-width: 992px) {
    #info {
        gap: 2rem;
    }
    
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
}