nav {
    position: fixed;
    bottom: 0;
    z-index: 3;
    isolation: isolate;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    background-color: var(--navGreen);
    color: var(--neutralLight);
}

.buttons {
    width: 100%;
    height: 55px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.buttons button {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%;
    background-color: var(--navGreen);
    color: var(--neutralLight);
    border: none;
    font-size: 1rem;
}

.buttons a, .buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    z-index: 2;
}

#nav-search-btn {
    display: none;
}

#submit-search:hover,
#submit-search:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--tinymceGray);
}

.buttons button:hover, 
.buttons button:focus,
.buttons a:hover, 
.buttons a:focus {
    background-color: rgb(34, 92, 100);
    cursor: pointer;
    outline: none;
}

.buttons button:active,
.buttons a:active {
    background-color: rgb(14, 72, 80);
}

nav i {
    pointer-events: none;
}

.nav___search-container {
    position: fixed;
    bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color:var(--navGreen);
    z-index: 2;
    transition: bottom 0.3s ease-in-out;
}

.nav___search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0.5em 0.5em 0.1em 0.5em;
}

.nav___search-input {
    font-size: 0.9em;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    text-decoration: none;
    border: none;
    height: 2em;
    padding-left: 1rem;
    width: 100%;
    margin: auto;
    background-color: var(--neutralLight);
    color: black;
}

#submit-search {
    background-color: var(--neutralLight);
    border: none;
    border-left: 1.5px solid var(--navGreen);
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    padding: 0.1em 0.75em;
    font-size: 0.85rem;
    color: var(--navGreen);
}

.nav___search-input, 
#submit-search {
    height: 30px;
}

.nav___search-input:focus, 
.nav___search-input:active {
    outline: none;
}

.nav___search button:hover, 
.nav___search button:focus {
    cursor: pointer;
    background-color: var(--tinymceGray);
    outline: none;
}

.nav___search button:active {
    background-color: var(--tinymceGrayActive);
}

@media (min-width: 320px) { 
    #nav-search-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 576px) {
    nav {
        position: relative;
        background-color: var(--neutralLight);
        color: black;
        width: 100%;
        height: 50px;
        z-index: 1;
        box-shadow: -6px 1px 2px 0 rgb(54 64 67 / 30%), 
                    -6px 1px 3px 1px rgb(54 64 67 / 15%);    
    }

    nav > * {
        margin: auto;
    }

    nav a i::before {
        display: none;
    }
    
    #nav-search-btn {
        padding: 0;
        margin-right: 3.125rem;
        width: 2.5em;
        font-size: 1rem;
        background-color: var(--neutralLight);
        color: black;
    }

    .nav___search-container {
        position: absolute;
        top: 3.3rem;
        bottom: unset;
        right: 3.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        background-color: unset;
        z-index: 1;
    }

    .nav___search {
        width: 350px;
        height: 30px;
        padding: 0;
        box-shadow: var(--boxShadow);
        border-radius: 2em;
    }
    
    .nav___search-input, #submit-search {
        height: 30px;
        border: var(--border);
        background-color: white;
    }

    .nav___search-input {
        border-right: 1px solid #D9D9D9;
    }

    #submit-search {
        color: inherit;
        border-left: none;
        color: black
    }

    .buttons {
        height: 42px;
    }

    .buttons button, .buttons a {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;
        padding: 0;
        height: unset;
        background-color: transparent;
        color: black;
    }

    .buttons button:hover, 
    .buttons button:focus, 
    .buttons button:active,
    .buttons a:hover, 
    .buttons a:focus, 
    .buttons a:active {
        background-color: transparent;
    }

    .buttons a {
        width: fit-content;
        width: -moz-fit-content;
        padding: unset;
        font-size: 1.375em;
    }
    
    .buttons a:first-child {
        margin-left: 2.4rem;
    }

    .buttons a:nth-child(4) {
        margin-right: auto;
    }

    .buttons a + a {
        margin-left: 1.5rem;
    }

    .buttons a:hover::after,
    .buttons a:focus::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 8px;
        left: 0;
        height: 3px;
        background-color: var(--deepOrange);
    }

    .buttons a:active::after {
        filter: brightness(1.2);
    }
}

@media (min-width: 768px)  { 
    #nav-search-btn {
        display: none;
    }
    
    nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .nav___search-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: unset;
        margin-right: 3.5rem;
        top: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .nav___search {
        box-shadow: none;
        width: 350px
    }

    .nav___search:hover,
    .nav___search:focus {
        box-shadow: var(--boxShadow);
    }

    .nav___search:hover .nav___search-input,
    .nav___search:hover #submit-search,
    .nav___search:focus .nav___search-input,
    .nav___search:focus #submit-search {
        border-color: #f2f2f2;

    }
}

@media (min-width: 992px) {
    .buttons {
        margin-right: 0;
        margin-left: auto;
        width: unset;
    }

    .buttons a:first-child {
        margin-left: 0;
    }

    .buttons a:nth-child(4) {
        margin-right: 0;
    }

    .nav___search {
        width: 375px;
    }

    .nav___search-container {
        margin-right: 0;
        margin-left: 1.5rem;
    }
}