/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --neutralLight: #f4f7f5;
    --neutralMid: #a9a9aa;
    --neutralDark: #494a4b;
    --tinymceGray: #dee0e2;
    --tinymceGrayActive: #c8cbcf;
    --tinymceBorder: 1px solid #ccc;
    --navGreen: #2c666e;
    --deepTeal: #005b60;
    --brightTeal: #01a5ad;
    --deepRed: #ba372a;
    --brightOrange: #e55832;
    --boxShadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    --darkerBoxShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    --border: 1px solid #d9d9d9;
}

html, button, input, select {
    font-family: "Urbanist", Arial, Helvetica, sans-serif ;
}

body {
    background-color: var(--neutralLight);
    overflow-x: hidden;
}

.hide {
    display: none !important;
}

.invis {
    visibility: hidden;
}

.msg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
    background-color: var(--deepRed);
    color: white;
    user-select: none;
}

@media (min-width: 320px) { 
    .msg {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .msg {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px)  { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }


