<section class="add_img">
  <label id="add_img"
    >Add Image
    <input type="file" id="image" accept="image/*" />
  </label>
  <img id="img_prev" class="invis" src="" alt="" />
  <button
    id="get_img_tag"
    class="invis"
    type="submit"
    data-text="Click to copy"
  >
    Image Tag
  </button>
</section>
