<section id="drafts___section">
  <div id="nothing-here" class="hide">
    <h1>Looks like there's nothing here.</h1>
    <a href="/create/lesson">Click here to start drafting a lesson</a>
    <p style="text-align: center">Or</p>
    <a href="/create/exercise">Click here to start drafting an exercise</a>
  </div>
  <ul id="drafts___lessons">
    <h3>Lessons</h3>
  </ul>
  <ul id="drafts___exercises">
    <h3>Exercises</h3>
  </ul>
</section>
