<div class="code-snippets">
  <div id="htmlsnippets" class="snippets_container">
    <div>
      <label>HTML Snippets</label>
      <div class="snippets">
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="header"
          class="add_snippet"
        >
          <p>Header</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="text-section"
          class="add_snippet"
        >
          <p>Text Section</p>
        </button>
        <button data-text="Click to copy"
          data-lang="html"
          data-snip-name="grid-container"
          class="add_snippet"">
          <p>Responsive Grid</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="larger-text-span"
          class="add_snippet"
        >
          <p>Larger Text</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="highlight"
          class="add_snippet"
        >
          <p>Highlight</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="bold"
          class="add_snippet"
        >
          <p>Bold</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="italic"
          class="add_snippet"
        >
          <p>Italic</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="html"
          data-snip-name="underline"
          class="add_snippet"
        >
          <p>Underline</p>
        </button>
        <button data-text="Click to copy"
        data-lang="html"
        data-snip-name="no-wrap"
        class="add_snippet"">
        <p>No Wrap</p>
      </button>
      </div>
    </div>
    <div>
      <label>MathJax Snippets</label>
      <div class="snippets">
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="limit"
          class="add_snippet"
        >
          <p>Limit</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="limit-definition-of-derivative"
          class="add_snippet"
        >
          <p>Derivative (Limit)</p>
        </button>
        <button data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="log-identity"
          class="add_snippet"">
          <p>Log Identity</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="power"
          class="add_snippet"
        >
          <p>Power</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="pythagorean-theorem"
          class="add_snippet"
        >
          <p>Pythagorean Theorem</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="quadratic-formula"
          class="add_snippet"
        >
          <p>Quadratic Formula</p>
        </button>
        <button
          data-text="Click to copy"
          data-lang="mathjax"
          data-snip-name="summation"
          class="add_snippet"
        >
          <p>Summation</p>
        </button>
      </div>
    </div>
  </div>
  <div id="csssnippets" class="snippets_container hide">
    <label>CSS Snippets</label>
    <div class="snippets">
      <button
        data-text="Click to copy"
        data-lang="css"
        data-snip-name="uni"
        class="add_snippet"
      >
        <p>Must have CSS</p>
      </button>
      <button
        data-text="Click to copy"
        data-lang="css"
        data-snip-name="import-gfont"
        class="add_snippet"
      >
        <p>Import Google Font</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="button"
        class="add_snippet"">
        <p>Button</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="larger"
        class="add_snippet"">
        <p>Larger Text</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="highlight"
        class="add_snippet"">
        <p>Highlight</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="bold"
        class="add_snippet"">
        <p>Bold</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="italic"
        class="add_snippet"">
        <p>Italic</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="underline"
        class="add_snippet"">
        <p>Underline</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="no-wrap"
        class="add_snippet"">
        <p>No Wrap</p>
      </button>
      <button data-text="Click to copy"
        data-lang="css"
        data-snip-name="media-query"
        class="add_snippet">
        <p>Media Query</p>
      </button>
    </div>
  </div>
  <div id="jssnippets" class="snippets_container hide">
    <label>Javascript Snippets</label>
    <div class="snippets">
      <button data-text="Click to copy"
        data-lang="js"
        data-snip-name="query"
        class="add_snippet">
        <p>QuerySelector</p>
      </button>
      <button data-text="Click to copy"
        data-lang="js"
        data-snip-name="get-by-id"
        class="add_snippet">
        <p>GetElmntById</p>
      </button>
      <button data-text="Click to copy"
        data-lang="js"
        data-snip-name="add-event-listener"
        class="add_snippet">
        <p>EventListener</p>
      </button>
    </div>
  </div>
</div>
<%-include('../../partials/create-partials/add_img') %>
